.main-header .navbar, .main-header .logo {
    background-color: #000000;
    background: -webkit-linear-gradient(top,  #000000 0%,#000000 100%);
    background: linear-gradient(to bottom, #000000 0%,#000000 100%);
    border-color: #000000;
}
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    border-left-color: #000000;
}

.btn-primary {
    background-color: #000000;
    border-color: #000000;
}

@media (max-width: 400px) {
    .navbar-left {
        margin: 2px;
    }

    .nav::after {
        clear: none;
    }
}

label.error {
    color: #f00;
}

.login-failed {
    display: none;
}