.main-header .navbar, .main-header .logo {
    background-color: #E43C24;
    background: -webkit-linear-gradient(top,  #E43C24 0%,#E43C24 100%);
    background: linear-gradient(to bottom, #E43C24 0%,#E43C24 100%);
    border-color: #E43C24;
}
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    border-left-color: #E43C24;
}

#login_form .btn-primary {
    background-color: #000000;
    border-color: #000000;
}

.btn-zoom {
    box-shadow: 1px 2px 1px rgba(0,0,0,.15);
    cursor: pointer;
    background-color: #FFF;
    display: block;
    color: #999;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

.btn-zoom:hover {
    color: #64A3FF;
}

.yellow-light {
    display: inline-block;
    margin-left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #f00;
}

.green-light {
    display: inline-block;
    margin-left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4ED964;
}

label.error {
    color: orange;
}

.login-failed {
    display: none;
}

#loader {
  display: none;
  background: rgba(255,255,255,0.7) url("../../../assets/plugins/cubeportfolio/img/cbp-loading.gif") no-repeat scroll center center;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10060;
}

#create-form {
    font-size: 11px;
}

#create-form input,
#create-form span {
    font-size: 11px;
}

#create-form table,
#create-form th {
    text-align: center;
}

/*#tab_pay_first_options input[type="checkbox"] {
    display: none;
}*/

#fixedRentL td,
#commissionL td,
#propertyMgmtL td,
#promotionL td {
    padding: 0 !important;
}

#create-form table .select2-selection--single  {
    border: 0 none;
    background: transparent;
}

#create-form table .select2-container--default  {
    width: 100% !important;
}

#create-form table input {
    text-align: right;
    background: transparent;
    box-shadow: none;
    border: solid 1px #ccc;
    border-radius: 0;
    font-weight: normal;
}

#create-form table input:disabled {
    background: #eee;
}

#create-form table .input-daterange .input-group input {
    text-align: left;
}

.sub-header {
    position: fixed;
    height: 40px;
    top: 50px;
    left: 150px;
    right: 0;
    margin-top: 0;
    text-align: center;
    background: #fff;
    z-index: 1029;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.sub-header .pull-right {
    position: absolute;
    right: 10px;
    top: 8px;
}

.sub-header .pull-left {
    position: absolute;
    left: 10px;
    top: 8px;
}

.sub-header .left-link {
    position: absolute;
    left: 40px;
    top: 4px;
}

.sub-header .left-link i {
    margin-right: 5px;
}

.sub-header .left-link .btn:active {
  box-shadow: none;
  outline: none;
}

/*.btn-link:focus, .btn-link:hover {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}*/

.sub-header .left-link a:active {
    box-shadow: none;
    outline: none;
}


.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #444;
}

.select2-results__option {
    font-size: 11px;
}

.shell {
    display: block;
    right: 0;
    bottom: 0;
    position: absolute;
    background: rgba(255,255,255,0.6);
    top: 0;
    left: 0;
    z-index: 3;
}

.mandatory-error {
    position: absolute;
    font-size: 16px;
    color: #E43C24;
    top: 30%;
    right: 0;
    z-index: 3;
}

.form-group div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tbody .money {
    min-width: 70px;
}

.txt{
    background-color: #FFFFCC;
    padding: 5px 10px;
}

.txt span {
    font-size: 12px !important;
}

#navbarTop .nav > li > a {
  padding: 0;
}

.cUpdated {
    background-color: #d3fae0; 
}

.cAdded {
    background-color: #fdd; 
}

.cEnded {
    background-color: #e2e2e2; 
}

.cUpdated .compared, .cAdded .compared, .cEnded .compared{
    color: #BBBBBB; 
}

#salesEntries tr td {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#salesEntries tr td input {
    border: 0 none;
    text-align: center;
    box-shadow: none;
}

.callout.callout-default {
    color: #333;
    background: rgba(238,242,250,0.9);
    border: 1px solid #9cb1cd;
}

@media (max-width:767px) {
    .sub-header {
        left: 0;
        top: 55px;
    }
    
    .make-request .sub-header .pull-right {
        top: 2px;
      }
}

/***** Approval Process *****/
.step {
  counter-reset: flag;
}
.step li {
  position: relative;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.step li a {
  cursor: pointer;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.step li a:before {
  content: counter(flag);
  counter-increment: flag;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.step li a:after {
  content: "";
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.step-arrow {
  margin: 20px 0;
}
.step-arrow.unhover li a:hover,
.step-arrow.unhover li a:focus {
  background-color: #f6f6f6;
  color: #444444;
}
.step-arrow.unhover li a:hover:before,
.step-arrow.unhover li a:focus:before {
  background-color: #d2d2d2;
  color: #ffffff;
}
.step-arrow.unhover li:not(:last-child) a:hover:after,
.step-arrow.unhover li:not(:last-child) a:focus:after {
  background-color: #f6f6f6;
}
.step-arrow li {
  padding-right: 20px;
}
.step-arrow li:last-child {
  padding-right: 0;
}
.step-arrow li:nth-child(n+2) a {
  margin-left: -20px;
  border-radius: 0;
}
.step-arrow li:not(:last-child) a:after {
  position: absolute;
  top: -1px;
  right: -20px;
  width: 40px;
  height: 40px;
  transform: scale(0.707) rotate(45deg);
  z-index: 1;
  background-color: #f6f6f6;
  border-radius: 0 5px 0 50px;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  box-sizing: content-box;
}
.step-arrow li:not(:last-child) a:hover:after {
  background-color: #5cb85c;
}
.step-arrow li a {
  border-radius: 0;
  color: #444444;
  background-color: #f6f6f6;
}
.step-arrow li a:hover {
  background-color: #5cb85c;
  color: #ffffff;
}
.step-arrow li a:hover:before {
  background: #ffffff;
  color: #5cb85c;
}
.step-arrow li a:before {
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 20px;
  left: 3rem;
  font-weight: bold;
  font-size: 1rem;
  overflow: hidden;
  top: 10px;
  background: #d2d2d2;
  color: #ffffff;
}
.step-arrow li.active a:before {
  background: #ffffff;
  color: #5cb85c;
}
.step-arrow li.active a:after {
  background-color: #5cb85c;
}
.step-arrow li.active a,
.step-arrow li.active a:hover {
  background-color: #5cb85c;
  color: #ffffff;
}
.step-arrow li.active a:before,
.step-arrow li.active a:hover:before {
  background-color: #ffffff;
  color: #5cb85c;
}
.step-arrow li.active a:after,
.step-arrow li.active a:hover:after {
  background-color: #5cb85c !important;
}
.step-square {
  margin-top: 40px;
}
.step-square > li:hover a:before,
.step-square > li:active a:before,
.step-square > li.active a:before {
  background-color: #5cb85c;
  color: #ffffff;
  border-color: #5cb85c;
}
.step-square > li:hover a:after,
.step-square > li:active a:after,
.step-square > li.active a:after {
  background-color: #5cb85c;
}
.step-square > li:first-child a:after {
  left: 50%;
  border-right: 1px solid #ffffff;
}
.step-square > li:last-child a:after {
  right: 50%;
  border-left: 1px solid #ffffff;
}
.step-square > li > a {
  color: #a9a9ab;
}
.step-square > li > a:hover {
  background-color: #ffffff;
  color: #5cb85c;
}
.step-square > li > a:before {
  position: absolute;
  z-index: 2;
  top: -2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  line-height: 20px;
  border: 1px solid #a9a9ab;
}
.step-square > li > a:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -35%;
  background-color: #a9a9ab;
  z-index: 1;
  height: 2px;
  border: solid #ffffff;
  border-width: 0 1px;
}
.step-square > li.active > a,
.step-square > li.active > a:focus,
.step-square > li.active > a:hover {
  color: #5cb85c;
  background: transparent;
}
.step-round {
  margin-top: 40px;
}
.step-round > li:first-child > a:after {
  left: 30%;
  border-radius: 5px 0 0 5px;
}
.step-round > li:last-child > a:after {
  right: 30%;
  border-radius: 0 5px 5px 0;
}
.step-round > li.active > a,
.step-round > li.active > a:hover,
.step-round > li.active > a:focus {
  background: transparent;
  color: #5cb85c;
}
.step-round > li.active > a:before,
.step-round > li.active > a:hover:before,
.step-round > li.active > a:focus:before {
  background-color: #5cb85c;
  color: #ffffff;
}
.step-round > li.active > a:after,
.step-round > li.active > a:hover:after,
.step-round > li.active > a:focus:after {
  background-color: #5cb85c;
}
.step-round > li > a {
  color: #a9a9ab;
}
.step-round > li > a:before {
  position: absolute;
  z-index: 2;
  top: -2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #ffffff;
  line-height: 2rem;
  box-shadow: 0 0 0 5px #a9a9ab;
}
.step-round > li > a:after {
  position: absolute;
  left: 0;
  right: 0;
  top: -38%;
  background-color: #a9a9ab;
  z-index: 1;
  height: 8px;
}
.step-round > li > a:after:after {
  background-color: #5cb85c;
}
.step-round > li > a:hover {
  background: transparent;
  color: #5cb85c;
}
.step-round > li > a:hover:before {
  background-color: #5cb85c;
  color: #ffffff;
}
.step-round > li > a:hover:after {
  background-color: #5cb85c;
}
.step-progress {
  margin-top: 60px;
}
.step-progress > li > a {
  color: #a9a9ab;
  padding-top: 1.8rem;
}
.step-progress > li > a:before {
  position: absolute;
  z-index: 2;
  top: -35px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  line-height: 2rem;
  box-shadow: 0 0 0 5px #a9a9ab;
}
 
.step-progress > li.active > a:before {
  position: absolute;
  z-index: 2;
  top: -35px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  line-height: 2rem;
  box-shadow: 0 0 0 5px #5cb85c;
}
 
.step-progress > li > a:after {
  content: "";
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
  background-color: #a9a9ab;
  float: left;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
.step-progress > li > a span.caret {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: rotate(180deg);
  top: -4px;
}
.step-progress > li > a:hover {
  background: transparent;
  color: #5cb85c;
  cursor: unset;
}
.step-progress > li > a:hover:before {
  color: #ffffff;
  background-color: #5cb85c;
}
.step-progress > li > a:hover:after {
  background-color: #5cb85c;
}
.step-progress > li.active > a,
.step-progress > li.active > a:hover,
.step-progress > li.active > a:focus {
  color: #5cb85c;
  background: transparent;
  cursor: unset;
}
.step-progress > li.active > a:before,
.step-progress > li.active > a:hover:before,
.step-progress > li.active > a:focus:before {
  background-color: #5cb85c;
  color: #ffffff;
}
.step-progress > li.active > a:after,
.step-progress > li.active > a:hover:after,
.step-progress > li.active > a:focus:after {
  background-color: #5cb85c;
}
.step-progress > li.active > a:after {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.step-progress > li:first-child a:after {
  border-radius: 5px 0 0 5px;
}
.step-progress > li:last-child a:after {
  border-radius: 0 5px 5px 0;
}
/***** Approval Process *****/

/***** FengMap ******/

ul li {
    list-style: none;
}

#fengMap {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 500px;
    overflow: hidden;
    outline: none;
}

/* 浏览器不兼容webGL 时的提示 */
.noWebGL {
    position: fixed;
    font-family: 'Microsoft YaHei';
    top: 50%;
    color: rgba(212, 43, 43, 1);
    margin-top: -60px;
    padding-left: 40%;
    background-color: rgba(178, 226, 240, 1);
    width: 100%;
    height: 120px;
    font-weight: 100;
}

/* 按钮组样式 */
.btnsGroup {
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: none;
}

.btnsGroup button {
    cursor: pointer;
    padding: 8px;
}

.btnsGroup button.active {
    background-color: #3385ff;
    border: none;
    color: #fff;
}


/* 放大缩小提示信息 */
.message {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 15px;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    display: none;
}

.message.active {
    display: block;
}

/* 自定义工具控件 */
.btnsFloor {
    width: 40px;
    position: absolute;
    right: 20px;
    top: 76px;
    display: none;
    -moz-box-shadow: 10px 10px 5px #888888;
    /* 老的 Firefox */
    box-shadow: 2px 2px 2px #888888;
    background-color: #fff;
}

.btnsFloor span {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background: url('../img/content/fengniao/layer.png') no-repeat center;
    background-size: 80% 80%;
}

.btnsFloor span.multi {
    background: url('../img/content/fengniao/layers.png') no-repeat center;
    background-size: 60% 60%;
}

.btnsFloor ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

.btnsFloor ul li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.btnsFloor ul li.active {
    color: #fff;
    background-color: #1e82fa;
    border-bottom: 1px solid #1e82fa;
}

.btnsSwitch {
    width: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
    -moz-box-shadow: 10px 10px 5px #888888;
    /* 老的 Firefox */
    box-shadow: 2px 2px 2px #888888;
    background-color: #fff;
}

.btnsSwitch span {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background: url('../img/content/fengniao/3D.png') center center no-repeat;
}

.btnsSwitch span.planar {
    background: url('../img/content/fengniao/2D.png') center center no-repeat;
}

/***** FengMap ******/

@media (max-width: 400px) {
    .navbar-left {
        margin: 2px;
    }

    .nav::after {
        clear: none;
    }
}