body, html {
    font-family: "微软雅黑","Microsoft YaHei";
    background: #fff;
    color: #646464;
    font-weight: 300;
    font-size: 16px;
}

h3 {
    font-size: 18px;
}

.weui-panel__hd:after {
    border-bottom: 0 none;
}

.weui-cell.weui-cell_select:before {
    border-top: 0 none;
}

.weui-cell_select .weui-select {
    padding-right: 16px;
}

.weui-cell.weui-cell_active:active {
    background: transparent;
}

.weui-media-box__info__meta_extra {
    padding-left: 0.7em;
}

.weui-media-box__info__meta {
    padding-right: 0.7em;
}

.weui-media-box:before {
    border-top: 0 none;
}

.weui-cells__group_form .weui-cells:before {
    border-top: 0 none;
}

.weui-cells__group_form .weui-cell:before {
    border-top: 1px solid var(--weui-FG-3);
}

.weui-form__control-area {
    margin: 0;
}

.weui-mask {
    opacity: 1;
    visibility: visible;
}

input.placeholder::-webkit-input-placeholder {
    color: #000;
}

:-moz-placeholder {
    color: #000;
}

::-moz-placeholder {
   color: #000;
}

input:-ms-input-placeholder {
   color: #000;
}

input::-ms-input-placeholder {
   color: #000;
}

#mapster_wrap_0 {
    margin: 0 auto;
}

.weui-dialog {
    opacity: 1;
    visibility: visible;
    margin: 0 auto;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    background: rgba(240,240,240,0.8);
}

.weui-toast {
    opacity: 1;
    visibility: visible;
    margin: 0 auto;
}

.weui-navs a {
    color: #576b95;
}

.error {
    color: #cc0000;
}

.leasing-areas {
    position: absolute;
    bottom: 10px;
    right: 2px;
}

.leasing-areas li {
   float: left;
   list-style: none;
   margin-right: 5px;
}

.leasing-areas li a {
    display: block;
    color: #000;
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
    padding: 2px 6px;
    font-size: 11px;
}

#mall_shortcuts .weui-grid {
    padding: 0;
}

#mall_shortcuts  .weui-grid__icon {
    text-align: center;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    font-size: 35px;
    color: rgb(210, 210, 210);
}

#mall_shortcuts .weui-grid:active {
    background: transparent;
}

.topTips {
    padding: 2px 10px;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    background: #26c7fc;
    opacity: 1;
    font-weight: bold;
}

.icon-box {
    margin-bottom: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.icon-box i {
    margin-right: 18px;
}

.icon-box__title {
    font-weight: 400;
}

.icon-box__desc {
    margin-top: 4px;
    font-size: 14px;
    color: #888;
}

/******* CHAT  ********/
@keyframes scaleToggleOne { 0 {
transform:scale(1);
-webkit-transform:scale(1)
}
50% {
transform:scale(2);
-webkit-transform:scale(2)
}
100% {
transform:scale(1);
-webkit-transform:scale(1)
}
}
@keyframes scaleToggleTwo { 0 {
transform:scale(1);
-webkit-transform:scale(1)
}
20% {
transform:scale(1);
-webkit-transform:scale(1)
}
60% {
transform:scale(2);
-webkit-transform:scale(2)
}
100% {
transform:scale(1);
-webkit-transform:scale(1)
}
}
@keyframes scaleToggleThree { 0 {
transform:scale(1);
-webkit-transform:scale(1)
}
33% {
transform:scale(1);
-webkit-transform:scale(1)
}
66% {
transform:scale(2);
-webkit-transform:scale(2)
}
100% {
transform:scale(1);
-webkit-transform:scale(1)
}
}
.animated { -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-fill-mode: both; animation-fill-mode: both }
.livechat-girl { width: 60px; height: 60px; border-radius: 50%; position: fixed; top: 20%; right: -100px; opacity: 0; -webkit-box-shadow: 0 5px 10px 0 rgba(35,50,56,.3); box-shadow: 0 5px 10px 0 rgba(35,50,56,.3); z-index: 700; transform: translateY(0); -webkit-transform: translateY(0); -ms-transform: translateY(0); cursor: pointer; -webkit-transition: all 1s cubic-bezier(.86, 0, .07, 1); transition: all 1s cubic-bezier(.86, 0, .07, 1) }
.livechat-girl:focus { outline: 0 }
.livechat-girl.animated { opacity: 1; transform: translateY(-40px); -webkit-transform: translateY(-40px); -ms-transform: translateY(-40px) }
.livechat-girl:after { content: ''; width: 12px; height: 12px; border-radius: 50%; background-image: linear-gradient(to bottom, #26c7fc, #26c7fc); position: absolute; right: 1px; top: 1px; z-index: 50 }
.livechat-girl .girl { position: absolute; top: 0; left: 0; width: 100%; height: auto; z-index: 50 }
.livechat-girl .animated-circles .circle { background: rgba(38,199,252,.25); width: 60px; height: 60px; border-radius: 50%; position: absolute; z-index: 49; transform: scale(1); -webkit-transform: scale(1) }
.livechat-girl .animated-circles.animated .c-1 { animation: 2s scaleToggleOne cubic-bezier(.25, .46, .45, .94) forwards }
.livechat-girl .animated-circles.animated .c-2 { animation: 2.5s scaleToggleTwo cubic-bezier(.25, .46, .45, .94) forwards }
.livechat-girl .animated-circles.animated .c-3 { animation: 3s scaleToggleThree cubic-bezier(.25, .46, .45, .94) forwards }
.livechat-girl.animation-stopped .circle { opacity: 0!important }
.livechat-girl.animation-stopped .circle { opacity: 0!important }
.livechat-girl .livechat-hint { position: absolute; right: 30px; top: 50%; margin-top: -20px; opacity: 0; z-index: 0; -webkit-transition: all .3s cubic-bezier(.86, 0, .07, 1); transition: all .3s cubic-bezier(.86, 0, .07, 1) }
.livechat-girl .livechat-hint.show_hint { -webkit-transform: translateX(-40px); transform: translateX(-40px); opacity: 1 }
.livechat-girl .livechat-hint.hide_hint { opacity: 0; -webkit-transform: translateX(0); transform: translateX(0) }
.livechat-girl .livechat-hint.rd-notice-tooltip { max-width: 1296px!important }
.livechat-girl .livechat-hint.rd-notice-tooltip .rd-notice-content { width: auto; overflow: hidden; text-overflow: ellipsis }
@media only screen and (max-width:1599px) {
.livechat-girl .livechat-hint.rd-notice-tooltip { max-width: 1060px!important }
}
@media only screen and (max-width:1309px) {
.livechat-girl .livechat-hint.rd-notice-tooltip { max-width: 984px!important }
}
@media only screen and (max-width:1124px) {
.livechat-girl .livechat-hint.rd-notice-tooltip { max-width: 600px!important }
}
.rd-notice-tooltip { -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.2); box-shadow: 0 2px 2px rgba(0,0,0,.2); font-size: 11px; border-radius: 3px; line-height: 1.25; position: absolute; z-index: 65; max-width: 350px; opacity: 1 }
.rd-notice-tooltip:after { position: absolute; display: block; content: ''; height: 20px; width: 20px; -webkit-box-shadow: none; box-shadow: none; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; z-index: 50 }
.rd-notice-tooltip .rd-notice-content { background: 0; border-radius: 3px; width: 100%; color: #fff; position: relative; z-index: 60; padding: 20px; font-weight: 400; line-height: 1.45 }
.rd-notice-type-success { background-color: #26c7fc; -webkit-box-shadow: 0 5px 10px 0 rgba(38,199,252,.2); box-shadow: 0 5px 10px 0 rgba(38,199,252,.2) }
.rd-notice-type-success .rd-notice-content { background-color: #26c7fc }
.rd-notice-type-success:after { background-color: #26c7fc; -webkit-box-shadow: 0 5px 10px 0 rgba(38,199,252,.2); box-shadow: 0 5px 10px 0 rgba(38,199,252,.2) }
.rd-notice-position-left { margin-left: -20px }
.rd-notice-position-left:after { right: -6px; top: 50%; margin-top: -10px }
.rd-notice-tooltip.single-line .rd-notice-content { height: 40px; padding: 0 0 0 10px; line-height: 40px; white-space: nowrap }

/******* CORE TEAM  ********/
.slide .slide-desc {
    width: initial;
    top: 10px;
    left: 20px;
    bottom: inherit;
    padding: 0 5px;
    border-radius: 5px;
}

.weui-link,
.weui-link, .weui-link:visited {
    color: rgba(230, 176, 76, 1);
}

.weui-mark-rb {
    position: relative;
    top: 0;
    left: 0;
    padding: 3px 8px;
    font-size: 12px;
    background: rgb(198, 198, 198);
    display: inline-block;
}

.owl-carousel .owl-item img {
    border-radius: 10px;
}

.weui-tabbar {
    background: #fff;
}

.weui-tabbar__icon>i, i.weui-tabbar__icon, .weui-tabbar__label {
    color: rgb(168, 168, 168);
}

.weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon>i, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__label {
    color: rgb(11, 11, 11);
}

.weui-tabbar:before {
    border-top: 0 none;
}


/******* Willa  ********/
.weui-grid {
    width: 50%;
}

.weui-grid:active {
    background: transparent;
}

.weui-panel__hd {
    padding: 16px 16px 0;
    font-weight: 300;
}


.weui-grids:after {
    border: 0 none;
}

.weui-grids:before {
    border-top: 0 none;
}

.weui-grid:before {
    border-right: 0 none;
}

.weui-grid:after {
    border-bottom: 0 none;
}

.weui-grid__label {
    white-space: normal;
    color: #646464;
    text-align: justify;
}

.weui-grid__icon {
    width: 90%;
    height: auto;
}

.weui-grid__icon img {
    border-radius: 30px;
}

.weui-grid__icon+.weui-grid__label {
    width: 80%;
    margin: 4px auto 0;
    font-size: 11px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.page__bd_spacing {
    padding: 16px;
}

.floors {
    margin-right: 20px;
    border-radius: 25px;
}

.macaroon {
    background: #d2d2d2;
    padding: 15px 0;
    border-radius: 50px;
}

.macaroon a {
    position: relative;
    display: block;
}

.macaroon img {
    width: 40px;
    opacity: 0.5;
}

.macaroon a.active {
    background: #fff;
    border-radius: 20px;
    padding-top: 7px;
}

.macaroon a.active img {
    opacity: 1;
}

.shop-list .weui-grid__label {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.weui-cells:before {
    border-top: 0 none;
}

.weui-cells:after {
    border-bottom: 0 none;
}

.shop-collapse li {
    position: relative;
    border-radius: 15px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);
    margin: -25px 0 0 0;
    background-repeat: repeat;
    padding-bottom: 30px;
}

.shop-collapse li .weui-flex {
    display: block;
    padding: 15px 20px;
}

.shop-collapse li .page-category-content {
    background: transparent;
}

.collapse li.js-show .weui-flex {
    opacity: 1;
}

.collapse .content {
    text-indent: 0;
}

.weui-table td, .weui-table th, table td, table th {
    border: solid 1px #666;
}

#slide1 {
    min-width: 375px;
    min-height: 375px;
}

#slide2 {
    max-height: 100%;
    margin: 0 20px 40px;
    top: 20px;
}

#slide2 li img {
    border-radius: 15px;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

#slide2 .dot {
    left: 0;
    right: 0;
    margin: 0 auto;
}

#profile {
    position: relative;
}

#profile .avatar {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 122px;
    width: 105px;
    border: solid 4px #fff;
    border-radius: 50%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.7);
}

.profile-links {
    position: absolute;
    display: block;
    text-align: right;
    padding: 8px 15px;
    font-size: 16px;
    font-weight: normal;
    transform: rotate(30deg);
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.7);
}

.info-link {
    background-color: #ffc000;
    color: #111;
}

.manage-link {
    background-color: #3c3c3c;
    color: #fff;
}

.help-link {
    background-color: #cec1a8;
    color: #111;
}

#login_form {
    position: absolute;
    top: 235px;
}

#login_form .page__title {
    font-size: 28px; 
    color: #504631;
    text-shadow: 1px 1px 1px rgba(150,145,145,0.7);
    font-weight: 400;
}

#login_form .weui-form {
    padding: 0;
    background-color: transparent;
}

#login_form .weui-cells__group_form .weui-cell:before, 
#login_form .weui-cells:after {
    border-top: 2px solid #504631;
    left: 15px;
}

#login_form .weui-cells_form {
    background-color: transparent;
    width: 260px;
}

#login_form .weui-cell_active {
    color: #504631;
    padding-left: 15px;
}

#login_form .weui-vcode-btn {
    background: rgba(229,229,229,0.8);
    color: #504631;
    border-radius: 20px;
    font-size: 12px;
}

@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){ // iPhone4/4s
} 

@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){ // iPhone5
} 

@media (device-height:667px) and (-webkit-min-device-pixel-ratio:2){ // iPhone6，iPhone7，iPhone8s
}

@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2){ // iPhone6 Plus,iPhone7 Plus,iPhone8 Plus
} 

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3){ // iPhone X
}

@media only screen  and (min-device-width : 768px)  and (max-device-width : 1024px){  // 兼容ipad
/* style */  
} 

@media only screen  and (min-device-width : 768px)  and (max-device-width : 1024px)  and (orientation : landscape){  // 兼容ipad横屏 
/* style */  
}  

@media only screen  and (min-device-width : 768px)  and (max-device-width : 1024px)  and (orientation : portrait){  // 兼容ipad竖屏
/* style */  
}  