@media (prefers-color-scheme: dark) {
  body {
    background: #222;
    color: #eee;
  }
}

.weui-panel__hd:after {
    border-bottom: 0 none;
}

.weui-cell.weui-cell_select:before {
    border-top: 0 none;
}

.weui-cell_select .weui-select {
    padding-right: 16px;
}

.weui-cell.weui-cell_active:active {
    background: transparent;
}

.weui-media-box__info__meta_extra {
    padding-left: 0.7em;
}

.weui-media-box__info__meta {
    padding-right: 0.7em;
}

.weui-media-box:before {
    border-top: 0 none;
}

.weui-grid__icon {
    width: auto;
    height: auto;
}

.weui-grids:after {
    border: 0 none;
}

.weui-grids:before {
    border-top: 0 none;
}

.weui-grid:before {
    border-right: 0 none;
}

.weui-grid:after {
    border-bottom: 0 none;
}

.weui-grid__label {
    color: rgb(210, 210, 210);
}

.weui-cells__group_form .weui-cells:before {
    border-top: 0 none;
}

.weui-cells__group_form .weui-cell:before {
    border-top: 1px solid var(--weui-FG-3);
}

.weui-form__control-area {
    margin: 0;
}

.weui-mask {
    opacity: 1;
    visibility: visible;
}

.weui-dialog {
    opacity: 1;
    visibility: visible;
    margin: 0 auto;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
}

.weui-toast {
    opacity: 1;
    visibility: visible;
    margin: 0 auto;
}

.weui-navs a {
    color: #576b95;
}

.error {
    color: #cc0000;
}

.leasing-areas {
    position: absolute;
    bottom: 10px;
    right: 2px;
}

.leasing-areas li {
   float: left;
   list-style: none;
   margin-right: 5px;
}

.leasing-areas li a {
    display: block;
    color: #000;
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
    padding: 2px 6px;
    font-size: 11px;
}

#mall_shortcuts .weui-grid {
    padding: 0;
}

#mall_shortcuts  .weui-grid__icon {
    text-align: center;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    font-size: 35px;
    color: rgb(210, 210, 210);
}

#mall_shortcuts .weui-grid:active {
    background: transparent;
}

.topTips {
    padding: 2px 10px;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    background: #26c7fc;
    opacity: 1;
    font-weight: bold;
}

.icon-box {
    margin-bottom: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.icon-box i {
    margin-right: 18px;
}

.icon-box__title {
    font-weight: 400;
}

.icon-box__desc {
    margin-top: 4px;
    font-size: 14px;
    color: #888;
}

/******* CHAT  ********/
@keyframes scaleToggleOne { 0 {
transform:scale(1);
-webkit-transform:scale(1)
}
50% {
transform:scale(2);
-webkit-transform:scale(2)
}
100% {
transform:scale(1);
-webkit-transform:scale(1)
}
}
@keyframes scaleToggleTwo { 0 {
transform:scale(1);
-webkit-transform:scale(1)
}
20% {
transform:scale(1);
-webkit-transform:scale(1)
}
60% {
transform:scale(2);
-webkit-transform:scale(2)
}
100% {
transform:scale(1);
-webkit-transform:scale(1)
}
}
@keyframes scaleToggleThree { 0 {
transform:scale(1);
-webkit-transform:scale(1)
}
33% {
transform:scale(1);
-webkit-transform:scale(1)
}
66% {
transform:scale(2);
-webkit-transform:scale(2)
}
100% {
transform:scale(1);
-webkit-transform:scale(1)
}
}
.animated { -webkit-animation-duration: .5s; animation-duration: .5s; -webkit-animation-fill-mode: both; animation-fill-mode: both }
.livechat-girl { width: 60px; height: 60px; border-radius: 50%; position: fixed; top: 10%; right: -100px; opacity: 0; -webkit-box-shadow: 0 5px 10px 0 rgba(35,50,56,.3); box-shadow: 0 5px 10px 0 rgba(35,50,56,.3); z-index: 700; transform: translateY(0); -webkit-transform: translateY(0); -ms-transform: translateY(0); cursor: pointer; -webkit-transition: all 1s cubic-bezier(.86, 0, .07, 1); transition: all 1s cubic-bezier(.86, 0, .07, 1) }
.livechat-girl:focus { outline: 0 }
.livechat-girl.animated { opacity: 1; transform: translateY(-40px); -webkit-transform: translateY(-40px); -ms-transform: translateY(-40px) }
.livechat-girl:after { content: ''; width: 12px; height: 12px; border-radius: 50%; background-image: linear-gradient(to bottom, #26c7fc, #26c7fc); position: absolute; right: 1px; top: 1px; z-index: 50 }
.livechat-girl .girl { position: absolute; top: 0; left: 0; width: 100%; height: auto; z-index: 50 }
.livechat-girl .animated-circles .circle { background: rgba(38,199,252,.25); width: 60px; height: 60px; border-radius: 50%; position: absolute; z-index: 49; transform: scale(1); -webkit-transform: scale(1) }
.livechat-girl .animated-circles.animated .c-1 { animation: 2s scaleToggleOne cubic-bezier(.25, .46, .45, .94) forwards }
.livechat-girl .animated-circles.animated .c-2 { animation: 2.5s scaleToggleTwo cubic-bezier(.25, .46, .45, .94) forwards }
.livechat-girl .animated-circles.animated .c-3 { animation: 3s scaleToggleThree cubic-bezier(.25, .46, .45, .94) forwards }
.livechat-girl.animation-stopped .circle { opacity: 0!important }
.livechat-girl.animation-stopped .circle { opacity: 0!important }
.livechat-girl .livechat-hint { position: absolute; right: 30px; top: 50%; margin-top: -20px; opacity: 0; z-index: 0; -webkit-transition: all .3s cubic-bezier(.86, 0, .07, 1); transition: all .3s cubic-bezier(.86, 0, .07, 1) }
.livechat-girl .livechat-hint.show_hint { -webkit-transform: translateX(-40px); transform: translateX(-40px); opacity: 1 }
.livechat-girl .livechat-hint.hide_hint { opacity: 0; -webkit-transform: translateX(0); transform: translateX(0) }
.livechat-girl .livechat-hint.rd-notice-tooltip { max-width: 1296px!important }
.livechat-girl .livechat-hint.rd-notice-tooltip .rd-notice-content { width: auto; overflow: hidden; text-overflow: ellipsis }
@media only screen and (max-width:1599px) {
.livechat-girl .livechat-hint.rd-notice-tooltip { max-width: 1060px!important }
}
@media only screen and (max-width:1309px) {
.livechat-girl .livechat-hint.rd-notice-tooltip { max-width: 984px!important }
}
@media only screen and (max-width:1124px) {
.livechat-girl .livechat-hint.rd-notice-tooltip { max-width: 600px!important }
}
.rd-notice-tooltip { -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.2); box-shadow: 0 2px 2px rgba(0,0,0,.2); font-size: 11px; border-radius: 3px; line-height: 1.25; position: absolute; z-index: 65; max-width: 350px; opacity: 1 }
.rd-notice-tooltip:after { position: absolute; display: block; content: ''; height: 20px; width: 20px; -webkit-box-shadow: none; box-shadow: none; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; z-index: 50 }
.rd-notice-tooltip .rd-notice-content { background: 0; border-radius: 3px; width: 100%; color: #fff; position: relative; z-index: 60; padding: 20px; font-weight: 400; line-height: 1.45 }
.rd-notice-type-success { background-color: #26c7fc; -webkit-box-shadow: 0 5px 10px 0 rgba(38,199,252,.2); box-shadow: 0 5px 10px 0 rgba(38,199,252,.2) }
.rd-notice-type-success .rd-notice-content { background-color: #26c7fc }
.rd-notice-type-success:after { background-color: #26c7fc; -webkit-box-shadow: 0 5px 10px 0 rgba(38,199,252,.2); box-shadow: 0 5px 10px 0 rgba(38,199,252,.2) }
.rd-notice-position-left { margin-left: -20px }
.rd-notice-position-left:after { right: -6px; top: 50%; margin-top: -10px }
.rd-notice-tooltip.single-line .rd-notice-content { height: 40px; padding: 0 0 0 10px; line-height: 40px; white-space: nowrap }

/******* CORE TEAM  ********/
.slide .slide-desc {
    width: initial;
    top: 10px;
    left: 20px;
    bottom: inherit;
    padding: 0 5px;
    border-radius: 5px;
}

.weui-link,
.weui-link, .weui-link:visited {
    color: rgba(230, 176, 76, 1);
}

.weui-mark-rb {
    position: relative;
    top: 0;
    left: 0;
    padding: 3px 8px;
    font-size: 12px;
    background: rgb(198, 198, 198);
    display: inline-block;
}

.owl-carousel .owl-item img {
    border-radius: 10px;
}

.weui-tabbar {
    background: #fff;
}

.weui-tabbar__icon>i, i.weui-tabbar__icon, .weui-tabbar__label {
    color: rgb(168, 168, 168);
}

.weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__icon>i, .weui-tabbar__item.weui-bar__item_on .weui-tabbar__label {
    color: rgb(11, 11, 11);
}

.weui-tabbar:before {
    border-top: 0 none;
}


/******* ART  ********/
.owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
    bottom: 15px;
    right: 10px;
}

.business-block .owl-theme .owl-dots .owl-dot span {
    width: 7px;
    height: 7px;
    margin: 3px;
}

.floor-guide img {
    width: 100%;
    margin: 30px 15px 10px 0;
}

.floor-guide .weui-media-box__bd {
    display: none;
}

.floor-guide .weui-media-box__bd.visible {
    display: block;
}

.weui-media-box__desc {
    -webkit-line-clamp: 4;
}

.mall-floors {
    background-color: #292929;
    padding: 10px 30px;
}

.mall-floors .weui-slider {
    padding: 15px 0;
}

.mall-floors .weui-slider__inner {
    height: 8px;
    border-radius: 25px;
    background-color: #525252;
}

.mall-floors .weui-slider__track {
    height: 8px;
    border-radius: 25px;
    background: transparent;
}

.mall-floors .weui-slider__handler {
    border-radius: 3px;
    height: 8px;
    top: 0;
    margin-top: 0;
    background-color: #c5ad8a;
}

.mall-floors .weui-grid {
    width: 20%;
    text-align: center;
}

.mall-floors .weui-grid:active {
    background: transparent;
}

.mall-floors .weui-grid a {
    padding: 12px 10px;
    background: #515151;
    border-radius: 12px;
    display: inline-block;
    color: #fff;
    box-shadow: 0 0 5px #111;
}

.mall-floors .weui-grid a.active {
    background: #c5ac8a;
    box-shadow: 0 0 8px #040404;
}