.weui-cell_select .weui-select {
    padding-right: 16px;
}

.weui-media-box__info__meta_extra {
    padding-left: 0.7em;
}

.weui-media-box__info__meta {
    padding-right: 0.7em;
}

.weui-grid {
    padding: 10px;
}

.weui-grid__icon {
    width: auto;
    height: auto;
}

.weui-form {
    padding: 15px 0 0;
}

.weui-form__control-area {
    margin: 0;
}

.weui-mask {
    opacity: 1;
    visibility: visible;
}

.weui-dialog {
    opacity: 1;
    visibility: visible;
    margin: 0 auto;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
}

.weui-toast {
    opacity: 1;
    visibility: visible;
    margin: 0 auto;
}

.weui-navs a {
    color: #576b95;
}

.error {
    color: #f00;
}