/* Global Styles */

/* ------------------------------- */

 body {
    background-color: #FCFCFC;
}

a, a:hover, a:focus {
    outline: none;
}

/* Wrappers */

/* ------------------------------- */

 #wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px 30px;
    background-color: #FCFCFC;
}

.navbar-inverse {
    background-color: #FFF;
    border: 0 none;
}

.thumbnail {
    position: relative;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 100px;
        padding: 0 30px 30px;
        min-height: 1000px;
        overflow: auto;
    }
}

.navbar-static-side ul li {
    text-align: center;
    border-bottom: solid 1px rgb(180, 164, 126); 
}

.navbar-static-side ul li:first-child {
    border-top: solid 1px rgb(180, 164, 126); 
}

/* Navigation */

/* ------------------------------- */

/* Top Right Navigation Dropdown Styles */

 .navbar-top-links {
    margin-right: 0;
}

 .navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
    color: rgb(37, 44, 72);
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.dropdown-menu .divider {
    background-color: rgb(37, 44, 72);
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a:hover {
    background-color: transparent;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
    background-color: rgb(120, 128, 163);
}


.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {
    background-color: rgb(120, 128, 163);
    color: rgb(37, 44, 72) !important;
}
/* Sidebar Menu Styles */

 .sidebar-search {
    padding: 15px;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 100px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

#shops_info table {
    background-color: #FBFCF4;
}

#shops_info .table-striped > tbody > tr:nth-of-type(2n+1),
#shops_info .table-striped > tbody > tr:hover {
    background-color: #EBCEAE;
}

#shops_info .table-striped > tbody a {
    color: #333;
    text-decoration: none;
}

#shops_info .table > thead > tr > th, 
#shops_info .table > tbody > tr > th, 
#shops_info .table > tfoot > tr > th, 
#shops_info .table > thead > tr > td, 
#shops_info .table > tbody > tr > td, 
#shops_info .table > tfoot > tr > td {
    border-top: 0 none;
}

#fmap .radio-inline {
    margin-top: -4px;
}

.list-group-item {
    font-size: 12px;
}

/* Buttons */

/* ------------------------------- */

 .btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

/* Pages */

/* ------------------------------- */

/* Dashboard Chat */

 .chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat img {
    width: 70px;
    margin-bottom: 10px;
}

.chat li.left .chat-body {
    margin-left: 80px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.chat .badge {
    background: transparent;
    border: solid 1px #666;
    color: #666;
    padding: 1px 10px;
    font-size: 10px;
}

.chat .badge:hover, 
.chat .badge:focus {
    color: #666;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

/* Login Page */

 .login-panel {
    margin-top: 25%;
}

/* Flot Chart Containers */

 .flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* DataTables Overrides */

 table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

/* Circle Buttons */

 .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}

.alert {
    display: none;
}

label.error {
    color: #f00;
}

#loader {
    display: none;
    background: rgba(255,255,255,0.7) url("../../../assets/plugins/cubeportfolio/img/cbp-loading.gif") no-repeat scroll center center;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10060;
}

.pagination {
    float: right;
    margin-top: 0;
}

.badge {
    padding: 5px 15px;
    font-weight: normal;
    background-color: #508dd4;
    border-color: #508dd4;
    color: #ffffff;
    margin-bottom: 5px;
}

.badge-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.badge-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.badge-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.badge-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.badge-renovation {
    background-color: #BCAC85;
    border-color: #BCAC85;
    color: #fff;
}

.modal-body {
    overflow: auto;
}

.modal-header {
    border-bottom: 0 none;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

.modal-title {
    color: #fff;
}

.nav-tabs {
    border-bottom: 0 none;
}

.floor-guide {
    position: absolute;
    right: 5px;
    top: 0;
    padding-left: 0;
    list-style: none;
}

address {
    margin-bottom: 10px;
}

.timeline {
    margin-bottom: 20px;
}

.timeline > li > .timeline-panel {
    padding: 10px;
}

.timeline > li {
    margin-bottom: 0;
}

.timeline > li > .timeline-panel {
    text-align: center;
}

.primary-font {
    display: block;
    width: 70px;
    overflow: hidden;
}