<section class="banner">
	<div class="banner-search"><i class="icon_search_gray"></i><input class="input" placeholder="请输入城市或商圈名~" type="text"></div>
	<a href="#" class="banner-image">
		<img src="/views/assets/base/img/content/v3/banner.jpg">
	</a>
</section>

<section class="filter-bar" id="filter-bar">
	<div class="filter-bar-area">区域<i></i></div>
	<div class="filter-bar-price">价格<i></i></div>
	<div class="filter-bar-fangxing">房型<i></i></div>
	<div class="filter-bar-more">更多<i></i></div>
</section>

<section class="filter-box" id="filter-box">
	<!--tab-->
	<div class="filter-tab" id="filter-tab">
		<div class="tab-area on">区域<i></i></div>
		<div class="tab-price">价格<i></i></div>
		<div class="tab-fangxing">房型<i></i></div>
		<div class="tab-more">更多<i></i></div>
	</div>
	<!--tab-list-->
	<div class="filter-tab-list" id="filter-tab-list">
		<!--区域-->
		<div class="list-area list-area-area clearfix" style="display: block;">
			<ul class="fl left">
				<li><a href="">区域</a></li>
			</ul>
			<ul class="fl right">
				<li><a href="">不限</a></li>
				<li><a href="">包河</a></li>
				<li><a href="">蜀山</a></li>
				<li><a href="">庐阳</a></li>
				<li><a href="">瑶海</a></li>
				<li><a href="">政务</a></li>
				<li><a href="">滨湖新区</a></li>
				<li><a href="">经开</a></li>
				<li><a href="">高新</a></li>
				<li><a href="">新站</a></li>
				<li><a href="">肥东</a></li>
				<li><a href="">肥西</a></li>
				<li><a href="">长丰</a></li>
			</ul>
		</div>
		<!--价格-->
		<div class="list-area list-area-price">
			<ul>
				<li><a href="">不限</a></li>
				<li><a href="">50万以下</a></li>
				<li><a href="">50-80万</a></li>
				<li><a href="">80-100万</a></li>
				<li><a href="">100-120万</a></li>
				<li><a href="">120-150万</a></li>
				<li><a href="">150-200万</a></li>
				<li><a href="">200-300万</a></li>
				<li><a href="">300万以上</a></li>
				<li>
					自定义价格：
					<input type="text" placeholder="最小"> - 
					<input type="text" placeholder="最大">
					<a href="javascript:;" class="btn">确定</a>
				</li>
			</ul>
		</div>
		<!--房型-->
		<div class="list-area">
			<ul>
				<li class="weui-cells weui-cells_checkbox">
					<label class="weui-cell weui-check__label">
			        <div class="weui-cell__bd">
			          <p>一室</p>
			        </div>
			        <div class="weui-cell__hd">
			          <input type="checkbox" class="weui-check" id="s11">
			          <i class="weui-icon-checked"></i>
			        </div>
			      </label>
				</li>
				<li class="weui-cells weui-cells_checkbox">
					<label class="weui-cell weui-check__label">
			        <div class="weui-cell__bd">
			          <p>两室</p>
			        </div>
			        <div class="weui-cell__hd">
			          <input type="checkbox" class="weui-check" id="s11">
			          <i class="weui-icon-checked"></i>
			        </div>
			      </label>
				</li>
				<li class="weui-cells weui-cells_checkbox">
					<label class="weui-cell weui-check__label">
			        <div class="weui-cell__bd">
			          <p>三室</p>
			        </div>
			        <div class="weui-cell__hd">
			          <input type="checkbox" class="weui-check" id="s11">
			          <i class="weui-icon-checked"></i>
			        </div>
			      </label>
				</li>
				<li class="weui-cells weui-cells_checkbox">
					<label class="weui-cell weui-check__label">
			        <div class="weui-cell__bd">
			          <p>四室</p>
			        </div>
			        <div class="weui-cell__hd">
			          <input type="checkbox" class="weui-check" id="s11">
			          <i class="weui-icon-checked"></i>
			        </div>
			      </label>
				</li>
				<li class="weui-cells weui-cells_checkbox">
					<label class="weui-cell weui-check__label">
			        <div class="weui-cell__bd">
			          <p>五室</p>
			        </div>
			        <div class="weui-cell__hd">
			          <input type="checkbox" class="weui-check" id="s11">
			          <i class="weui-icon-checked"></i>
			        </div>
			      </label>
				</li>
				<li class="weui-cells weui-cells_checkbox">
					<label class="weui-cell weui-check__label">
			        <div class="weui-cell__bd">
			          <p>五室以上</p>
			        </div>
			        <div class="weui-cell__hd">
			          <input type="checkbox" class="weui-check" id="s11">
			          <i class="weui-icon-checked"></i>
			        </div>
			      </label>
				</li>
			</ul>
			<div class="weui-btn-area">
		      <a class="weui-btn weui-btn_primary" href="javascript:">确定</a>
		    </div>
		</div>
		<!--更多-->
		<div class="list-area list-area-more">
			<div class="more-div">
				<b>朝向</b>
				<div>
					<a href="">朝东</a>
					<a href="">朝南</a>
					<a href="">朝西</a>
					<a href="">朝北</a>
					<a href="">南北</a>
				</div>
			</div>
			<div class="more-div">
				<b>面积</b>
				<div>
					<a href="" class="on">不限</a>
					<a href="">50平以下</a>
					<a href="">50-70平</a>
					<a href="">70-90平</a>
					<a href="">90-120平</a>
					<a href="">120-150平</a>
					<a href="">150-200平</a>
					<a href="">200-300平</a>
					<a href="">300平以上</a>
				</div>
			</div>
			<div class="weui-btn-area mt10">
		      <a class="weui-btn weui-btn_default" href="javascript:">清空条件</a>
		    </div>
			<div class="weui-btn-area">
		      <a class="weui-btn weui-btn_primary" href="javascript:">确定</a>
		    </div>
		</div>
		<!--/更多-->
	</div>
	<!--/tab-list-->
</section>

<ul class="house-list" id="house-list" style="display: none;">
	<li v-for="val in houseDataList">
		<a :href="val.url" class="house-link"></a>
		<div class="con">
            <div class="house-pic"><img :src="val.imgs[0]"></div>
            <div class="house-detail">
                <h3>{{val.title}}</h3>
                <div class="house-mj">{{val.huxing}}</div>
                <div class="house-price">
                	<span class="price-total">{{val.unitPrice}}万</span>
                	<span class="unit-price">{{val.price}}元/平</span>
                </div>
                <div class="tag-box">
                    <span class="tag five">{{val.manNnian}}</span>
                    <span class="tag haskey">{{val.kanfang}}</span>
            	</div>
            </div>
        </div>
	</li>
</ul>

<!--排序-->
<div class="sort-btn open-popup" id="sort" data-target="#sort-popup"><i class="sort-icon"></i><span>排序</span></div>
<div id="sort-popup" class="weui-popup__container sort-popup popup-bottom">
	<div class="weui-popup__modal">
		<ul class="lists">
            <li class="li active" data-act="sort" data-query="id=0"><a href="">默认</a></li>
            <li class="li" data-act="sort" data-query="id=32"><a href="">最新发布</a></li>
            <li class="li" data-act="sort" data-query="id=21"><a href="">总价从低到高</a></li>
            <li class="li" data-act="sort" data-query="id=22"><a href="">总价从高到低</a></li>
            <li class="li" data-act="sort" data-query="id=41"><a href="">单价从低到高</a></li>
            <li class="li" data-act="sort" data-query="id=12"><a href="">面积从大到小</a></li>
        </ul>
	</div>
</div>
<!--/排序-->

<section id="download-app" class="download-app">
	<a href="javascript:;" onClick="javascript:this.parentNode.remove();" class="download-close-btn">关闭</a>
	<div class="download-logo">使用链家APP</div>
	<div class="download-slog"><p class="title">使用链家APP</p><p class="sub-title">查看更多合肥精选二手房</p></div>
	<a class="download-btn weui-btn weui-btn_primary">立即打开</a>
</section>

<a href="#" title="静态网页模板">链接11111</a>

<script src="js/jquery.min.js"></script>
<script src="js/jquery-weui.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/vue-resource.js"></script>
<script>
$(function(){
	//加载数据
	var houseData=null;
	new Vue({
		el:"#house-list",
       	created:function(){
       		this.$http.get("houseList.json").then(function(r){
				houseData = r.data.data;
				$.toast("共找到"+houseData.length+"套房源！");
				this.houseDataList = this.houseDataList.concat(houseData);
				console.log(this.houseDataList);
				if(this.houseDataList.length > 0){
					document.getElementById("house-list").style.display = "block";
				}
			},function(r){
				$.toast("数据获取失败","cancel");
			})
       	},
		data:{
			houseDataList:[]
        }
	})
	
	$("#filter-tab>div").click(function(ev){
		$(this).addClass("on").siblings().removeClass("on");
		$("#filter-tab-list .list-area").eq($(this).index()).show().siblings().hide();
		var ev = ev || window.event;
		ev.cancelBubble = true;
		ev.stopPropagation();
	})
	$("#filter-bar>div").click(function(){
		if($("#filter-box").hasClass("show")){
			$("#filter-box").removeClass("show");
		}else{
			$("#filter-box").addClass("show");
		}
		var i = $(this).index();
		$("#filter-tab>div").eq(i).trigger("click")
	})
	$("#filter-box").click(function(){
		$(this).removeClass("show");
	})
	
	//滚动加载
	$(window).scroll(function(){
		var loading = false;
		var sh = $(this).scrollTop();
		var dh = $(document).height();
		var wh = $(this).height();
		if(dh-(sh+wh)<50){
			if(loading) return;
			setTimeout(function() {
				$("#house-list>li:last-child").after('<li><a href="" class="house-link"></a><div class="con"><div class="house-pic"><img src="images/1.jpg"></div><div class="house-detail"><h3>瀚海星座 精装 朝南 东边户 有燃气 楼层好 采光优质</h3><div class="house-mj">2室1厅/70.72m²/南/新鸿意 瀚海星座</div><div class="house-price"><span class="price-total">105万</span><span class="unit-price">14848元/平</span></div><div class="tag-box"><span class="tag five">满五年</span><span class="tag haskey">随时看房</span></div></div></div></li>');
				loading = false;
			}, 500);
		}
	})

})
</script>
</body>
</html>