<!DOCTYPE html><!--[if IE]>  <html class="ie"> <![endif]-->
<html>
	<head>
		<meta charset="utf-8" />
		<title>
		</title>
		<link rel="stylesheet" type="text/css" href="/views/html/v2/032513555859_files/style.css" />
	</head>
	<body>
		<div class="stl_02">
			<div class="stl_03">
				<object data="/views/html/v2/032513555859_files/img_01.svg" type="image/svg+xml" class="stl_04" style="position:absolute; width:49.5833em; height:70.0833em;">
					<embed src="/views/html/v2/032513555859_files/img_01.svg" type="image/svg+xml" class="stl_04" />
				</object>
			</div>
			<div class="view">
				<div class="stl_05 stl_06">
					<div class="stl_01" style="top:6.6495em; left:21.2942em;"><span class="stl_07 stl_08 stl_09">广告服务协议 &nbsp;</span></div>
					<div class="stl_01" style="top:8.6756em; left:35.6158em;"><span class="stl_10 stl_08 stl_11">编号： &nbsp;</span></div>
					<div class="stl_01" style="top:12.4356em; left:7.502em;"><span class="stl_10 stl_08 stl_11">甲方：上海帝泰发展有限公司 &nbsp;</span></div>
					<div class="stl_01" style="top:14.3156em; left:7.502em;"><span class="stl_10 stl_08 stl_11">乙方： &nbsp;</span></div>
					<div class="stl_01" style="top:16.1956em; left:7.502em;"><span class="stl_10 stl_08 stl_11">（</span></div>
					<div class="stl_01" style="top:16.1956em; left:8.502em;"><span class="stl_10 stl_08 stl_11">以下简称“双方”） &nbsp;</span></div>
					<div class="stl_01" style="top:19.9581em; left:7.502em;"><span class="stl_10 stl_08 stl_12">鉴于乙方使用甲方位于上海市浦东新区陆家嘴西路</span><span class="stl_13 stl_08 stl_12">168</span><span class="stl_10 stl_08 stl_12">号的正大广场（下称“商 &nbsp;</span></div>
					<div class="stl_01" style="top:21.8381em; left:7.502em;"><span class="stl_10 stl_08 stl_14">场”）的指定广告发布位置发布广告并向甲方支付广告服务费事宜，双方经友好 &nbsp;</span></div>
					<div class="stl_01" style="top:23.7181em; left:7.502em;"><span class="stl_10 stl_08 stl_11">协商达成本广告服务协议（以下简称“本协议”）如下。 &nbsp;</span></div>
					<div class="stl_01" style="top:27.4781em; left:7.502em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.2497em;">第一条 待发布广告的基本信息（以下共称“广告”） &nbsp;</span></div>
					<div class="stl_01" style="top:29.5481em; left:14.0617em;"><span class="stl_10 stl_08 stl_11">发布位置 &nbsp;</span></div>
					<div class="stl_01" style="top:30.4898em; left:7.642em;"><span class="stl_10 stl_08 stl_11">发布方式 &nbsp;</span></div>
					<div class="stl_01" style="top:30.4898em; left:20.6242em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.9858em;">位置编号 发布尺寸 发布材质</span><span class="stl_10 stl_08 stl_11" style="word-spacing:1.1213em;"> 发布期限</span><span class="stl_10 stl_08 stl_11" style="word-spacing:1.1213em;"> 发布天数 &nbsp;</span></div>
					<div class="stl_01" style="top:31.4298em; left:13.6717em;"><span class="stl_10 stl_08 stl_11">详见附件一） &nbsp;</span></div>
					<div class="stl_01" style="top:31.4298em; left:12.6717em;"><span class="stl_10 stl_08 stl_11">（</span></div>
					<div class="stl_01" style="top:41.1398em; left:7.502em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.2497em;">第二条 广告服务费、电费及保证金 &nbsp;</span></div>
					<div class="stl_01" style="top:43.0223em; left:7.502em;"><span class="stl_13 stl_08 stl_11">2</span></div>
					<div class="stl_01" style="top:43.0223em; left:8.002em;"><span class="stl_13 stl_08 stl_15">.1</span><span class="stl_10 stl_08 stl_15">乙方就广告发布需向甲方支付的广告服务费总额为人民币 &nbsp;</span></div>
					<div class="stl_01" style="top:43.0223em; left:37.2883em;"><span class="stl_10 stl_08 stl_11">元</span><span class="stl_13 stl_08 stl_11">(</span><span class="stl_10 stl_08 stl_11">大 &nbsp;</span></div>
					<div class="stl_01" style="top:44.9023em; left:9.2517em;"><span class="stl_10 stl_08 stl_11">写</span></div>
					<div class="stl_01" style="top:44.9023em; left:13.2517em;"><span class="stl_13 stl_08 stl_16">,</span><span class="stl_10 stl_08 stl_16">不含税</span><span class="stl_13 stl_08 stl_16">)</span><span class="stl_10 stl_08 stl_16">，本协议签署时的广告服务费税率为</span><span class="stl_13 stl_08 stl_16">6%</span><span class="stl_10 stl_08 stl_16">，税额由乙方承担。 &nbsp;</span></div>
					<div class="stl_01" style="top:46.7823em; left:9.2517em;"><span class="stl_10 stl_08 stl_11">前述广告服务费及其税额共计人民币 &nbsp;</span></div>
					<div class="stl_01" style="top:46.7823em; left:28.2558em;"><span class="stl_10 stl_08 stl_11">元</span><span class="stl_13 stl_08 stl_11">(</span><span class="stl_10 stl_08 stl_11">大写 &nbsp;</span></div>
					<div class="stl_01" style="top:46.7823em; left:34.7558em;"><span class="stl_10 stl_08 stl_17">），乙方应于本 &nbsp;</span></div>
					<div class="stl_01" style="top:48.6623em; left:9.2517em;"><span class="stl_10 stl_08 stl_18">协议签订之日起五个工作日内或广告发布起始日前（两者以时间在先为准） &nbsp;</span></div>
					<div class="stl_01" style="top:50.5423em; left:9.2517em;"><span class="stl_10 stl_08 stl_19">向甲方一次性付清。若乙方未按时付清前述广告服务费及其税额</span><span class="stl_13 stl_08 stl_19">,</span><span class="stl_10 stl_08 stl_19">甲方有权 &nbsp;</span></div>
					<div class="stl_01" style="top:52.4223em; left:9.2517em;"><span class="stl_10 stl_08 stl_12">拒绝乙方发布广告，并按照本协议第</span><span class="stl_13 stl_08 stl_12">6.4</span><span class="stl_10 stl_08 stl_12">条的约定提前解除本协议，将广告 &nbsp;</span></div>
					<div class="stl_01" style="top:54.3023em; left:9.2517em;"><span class="stl_10 stl_08 stl_12">发布位置收回及</span><span class="stl_13 stl_08 stl_12">/</span><span class="stl_10 stl_08 stl_12">或交由第三方使用而无需承担任何责任。 &nbsp;</span></div>
					<div class="stl_01" style="top:56.184em; left:7.502em;"><span class="stl_13 stl_08 stl_11">2</span></div>
					<div class="stl_01" style="top:59.944em; left:7.502em;"><span class="stl_13 stl_08 stl_11">2</span></div>
					<div class="stl_01" style="top:56.184em; left:8.002em;"><span class="stl_13 stl_08 stl_20">.2</span><span class="stl_10 stl_08 stl_20">广告发布产生的电费（如有）由乙方承担，乙方应按照甲方制定的费用标准 &nbsp;</span></div>
					<div class="stl_01" style="top:58.064em; left:9.2517em;"><span class="stl_10 stl_08 stl_11">及甲方发出的书面通知按时足额支付。 &nbsp;</span></div>
					<div class="stl_01" style="top:59.944em; left:8.002em;"><span class="stl_13 stl_08 stl_21">.3</span><span class="stl_10 stl_08 stl_21">乙方可选择银行转账、支票或现金方式支付本协议项下的应付款项。甲方应 &nbsp;</span></div>
					<div class="stl_01" style="top:61.824em; left:9.2517em;"><span class="stl_10 stl_08 stl_11">在收到乙方支付的相关款项后及时向乙方开具合法有效等额的费用票据。 &nbsp;</span></div>
					<div class="stl_01" style="top:64.245em; left:24.6142em;"><span class="stl_22 stl_23 stl_11">1</span></div>
				</div>
			</div>
		</div>
		<div class="stl_02">
			<div class="stl_03">
				<object data="/views/html/v2/032513555859_files/img_02.svg" type="image/svg+xml" class="stl_04" style="position:absolute; width:49.5833em; height:70.0833em;">
					<embed src="/views/html/v2/032513555859_files/img_02.svg" type="image/svg+xml" class="stl_04" />
				</object>
			</div>
			<div class="view">
				<div class="stl_05 stl_06">
					<div class="stl_01" style="top:6.0756em; left:7.502em;"><span class="stl_13 stl_08 stl_11">2</span></div>
					<div class="stl_01" style="top:6.0756em; left:8.002em;"><span class="stl_13 stl_08 stl_20">.4</span><span class="stl_10 stl_08 stl_20">本协议项下甲方收取的广告服务费、电费、赔偿金、违约金等任何费用均为 &nbsp;</span></div>
					<div class="stl_01" style="top:7.9556em; left:9.2517em;"><span class="stl_10 stl_08 stl_24">不含税金额，即使没有明确说明，其税额均由乙方承担；因而乙方在向甲方 &nbsp;</span></div>
					<div class="stl_01" style="top:9.8356em; left:9.2517em;"><span class="stl_10 stl_08 stl_25">支付本协议约定的费用时，还应同时支付税额。税额为不含税金额乘以对应 &nbsp;</span></div>
					<div class="stl_01" style="top:11.7156em; left:9.2517em;"><span class="stl_10 stl_08 stl_24">的税率，税种与税率以国家及地方的税收政策为准。本协议履行期内，税种 &nbsp;</span></div>
					<div class="stl_01" style="top:13.5956em; left:9.2517em;"><span class="stl_10 stl_08 stl_25">与税率根据国家及地方税收政策若有新的调整，乙方应支付的税额亦相应调 &nbsp;</span></div>
					<div class="stl_01" style="top:15.4756em; left:9.2517em;"><span class="stl_10 stl_08 stl_11">整。 &nbsp;</span></div>
					<div class="stl_01" style="top:17.3556em; left:7.502em;"><span class="stl_13 stl_08 stl_11">2</span></div>
					<div class="stl_01" style="top:19.2381em; left:7.502em;"><span class="stl_13 stl_08 stl_11">2</span></div>
					<div class="stl_01" style="top:17.3556em; left:8.002em;"><span class="stl_13 stl_08 stl_26">.5</span><span class="stl_10 stl_08 stl_26">保证金 &nbsp;</span></div>
					<div class="stl_01" style="top:19.2381em; left:8.002em;"><span class="stl_13 stl_08 stl_27">.5.1</span><span class="stl_10 stl_08 stl_27">乙方应于本协议签订之日起五个工作日内或广告发布起始日前（两者以时 &nbsp;</span></div>
					<div class="stl_01" style="top:21.1181em; left:9.2517em;"><span class="stl_10 stl_08 stl_11">间在先为准）向甲方支付保证金人民币 &nbsp;</span></div>
					<div class="stl_01" style="top:21.1181em; left:29.2558em;"><span class="stl_10 stl_08 stl_11">元</span><span class="stl_13 stl_08 stl_11">(</span><span class="stl_10 stl_08 stl_11">大写 &nbsp;</span></div>
					<div class="stl_01" style="top:21.1181em; left:35.2558em;"><span class="stl_13 stl_08 stl_11">)</span><span class="stl_10 stl_08 stl_11">，作为乙方履 &nbsp;</span></div>
					<div class="stl_01" style="top:22.9981em; left:9.2517em;"><span class="stl_10 stl_08 stl_19">行本协议项下义务的担保。若乙方未按时足额支付保证金</span><span class="stl_13 stl_08 stl_19">,</span><span class="stl_10 stl_08 stl_19">甲方有权按照本 &nbsp;</span></div>
					<div class="stl_01" style="top:24.8781em; left:9.2517em;"><span class="stl_10 stl_08 stl_28">协议第</span><span class="stl_13 stl_08 stl_28">6.4</span><span class="stl_10 stl_08 stl_28">条的约定提前解除本协议，将广告发布位置收回及</span><span class="stl_13 stl_08 stl_28">/</span><span class="stl_10 stl_08 stl_28">或交由第三方 &nbsp;</span></div>
					<div class="stl_01" style="top:26.7681em; left:9.2517em;"><span class="stl_10 stl_08 stl_11">使用而无需承担任何责任。 &nbsp;</span></div>
					<div class="stl_01" style="top:28.6481em; left:7.502em;"><span class="stl_13 stl_08 stl_11">2</span></div>
					<div class="stl_01" style="top:28.6481em; left:8.002em;"><span class="stl_13 stl_08 stl_29">.5.2</span><span class="stl_10 stl_08 stl_29">如乙方违反本协议约定，甲方有权（但并无义务）以保证金抵付乙方应付 &nbsp;</span></div>
					<div class="stl_01" style="top:30.5298em; left:9.2517em;"><span class="stl_10 stl_08 stl_30">款项，和</span><span class="stl_13 stl_08 stl_30">/</span><span class="stl_10 stl_08 stl_30">或作为甲方因此而遭受损失之赔偿，和</span><span class="stl_13 stl_08 stl_30">/</span><span class="stl_10 stl_08 stl_30">或根据本协议约定将保证 &nbsp;</span></div>
					<div class="stl_01" style="top:32.4098em; left:9.2517em;"><span class="stl_10 stl_08 stl_19">金没收而无须归还给乙方。如甲方持有的保证金由于作该等抵付和</span><span class="stl_13 stl_08 stl_19">/</span><span class="stl_10 stl_08 stl_19">或赔偿 &nbsp;</span></div>
					<div class="stl_01" style="top:34.2898em; left:9.2517em;"><span class="stl_10 stl_08 stl_11">和</span><span class="stl_13 stl_08 stl_11">/</span><span class="stl_10 stl_08 stl_11">或没收而少于本条约定之金额，乙方应在甲方通知之日起三日内补足。 &nbsp;</span></div>
					<div class="stl_01" style="top:36.1698em; left:9.2517em;"><span class="stl_10 stl_08 stl_19">乙方无权自行以保证金抵付其在本协议项下的任何应付款项。 &nbsp;</span></div>
					<div class="stl_01" style="top:38.0498em; left:7.502em;"><span class="stl_13 stl_08 stl_11">2</span></div>
					<div class="stl_01" style="top:38.0498em; left:8.002em;"><span class="stl_13 stl_08 stl_31">.5.3</span><span class="stl_10 stl_08 stl_31">本协议终止时，在乙方未发生任何违约行为的情况下，甲方应在乙方按本 &nbsp;</span></div>
					<div class="stl_01" style="top:39.9298em; left:9.2517em;"><span class="stl_10 stl_08 stl_25">协议约定返还广告发布位置、结清所有款项并收到乙方保证金收据原件后的 &nbsp;</span></div>
					<div class="stl_01" style="top:41.8098em; left:9.2517em;"><span class="stl_13 stl_08 stl_11">2</span></div>
					<div class="stl_01" style="top:41.8098em; left:9.7517em;"><span class="stl_13 stl_08 stl_11">0</span><span class="stl_10 stl_08 stl_11">个工作日内，将保证金无息退还乙方。 &nbsp;</span></div>
					<div class="stl_01" style="top:45.5723em; left:7.502em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.2497em;">第三条 广告的管理 &nbsp;</span></div>
					<div class="stl_01" style="top:47.4523em; left:8.002em;"><span class="stl_13 stl_08 stl_32">.1</span><span class="stl_10 stl_08 stl_32">广告的报批 &nbsp;</span></div>
					<div class="stl_01" style="top:47.4523em; left:7.502em;"><span class="stl_13 stl_08 stl_11">3</span></div>
					<div class="stl_01" style="top:49.3323em; left:7.502em;"><span class="stl_10 stl_08 stl_33">乙方发布广告应遵守工商、市政、规划等有关政府部门的规定，如需批复，由乙 &nbsp;</span></div>
					<div class="stl_01" style="top:51.2123em; left:7.502em;"><span class="stl_10 stl_08 stl_11">方自担费用进行报批，最终以批复结果为准。 &nbsp;</span></div>
					<div class="stl_01" style="top:53.0923em; left:7.502em;"><span class="stl_13 stl_08 stl_11">3</span></div>
					<div class="stl_01" style="top:53.0923em; left:8.002em;"><span class="stl_13 stl_08 stl_32">.2</span><span class="stl_10 stl_08 stl_32">广告的内容 &nbsp;</span></div>
					<div class="stl_01" style="top:54.9723em; left:7.502em;"><span class="stl_10 stl_08 stl_14">乙方所发布的广告内容为企业、品牌、商品的标志及宣传促销，符合广告法及相 &nbsp;</span></div>
					<div class="stl_01" style="top:56.854em; left:7.502em;"><span class="stl_10 stl_08 stl_33">关法律法规的规定，不存在任何虚假宣传及侵犯第三方合法权利的行为。乙方应 &nbsp;</span></div>
					<div class="stl_01" style="top:58.734em; left:7.502em;"><span class="stl_10 stl_08 stl_12" style="word-spacing:0.2514em;">至迟于广告发布前</span><span class="stl_13 stl_08 stl_12" style="word-spacing:0.2514em;">3</span><span class="stl_10 stl_08 stl_12" style="word-spacing:0.2514em;">个工作日将广告内容相关的设计图片、 </span><span class="stl_13 stl_08 stl_12" style="word-spacing:0.2514em;">PSD</span><span class="stl_10 stl_08 stl_12" style="word-spacing:0.2514em;">分层文件、</span><span class="stl_13 stl_08 stl_12" style="word-spacing:0.2514em;">PC</span><span class="stl_10 stl_08 stl_12" style="word-spacing:0.2514em;">机 &nbsp;</span></div>
					<div class="stl_01" style="top:60.614em; left:7.502em;"><span class="stl_13 stl_08 stl_11">PHOTOSHOP</span><span class="stl_10 stl_08 stl_11">刻成光盘送至甲方市场部以接受甲方对广告内容的形式审查。对甲方 &nbsp;</span></div>
					<div class="stl_01" style="top:62.494em; left:7.502em;"><span class="stl_10 stl_08 stl_14">要求更改或更换的广告，如乙方拒不更改、更换或更改、更换后仍不符合甲方要 &nbsp;</span></div>
					<div class="stl_01" style="top:64.245em; left:24.6142em;"><span class="stl_22 stl_23 stl_11">2</span></div>
				</div>
			</div>
		</div>
		<div class="stl_02">
			<div class="view">
				<div class="stl_05 stl_06">
					<div class="stl_01" style="top:6.0756em; left:7.502em;"><span class="stl_10 stl_08 stl_33">求的，甲方有权拒绝发布。甲方对广告内容进行形式审查并不意味对乙方的广告 &nbsp;</span></div>
					<div class="stl_01" style="top:7.9556em; left:7.502em;"><span class="stl_10 stl_08 stl_12">内容的批准和认同，一切未获政府有关主管部门审批通过及</span><span class="stl_13 stl_08 stl_12">/</span><span class="stl_10 stl_08 stl_12">或违反法律法规及 &nbsp;</span></div>
					<div class="stl_01" style="top:9.8356em; left:7.502em;"><span class="stl_10 stl_08 stl_34">侵犯第三方合法权益的广告，由乙方自行承担责任，如因此导致甲方遭受损失或 &nbsp;</span></div>
					<div class="stl_01" style="top:11.7156em; left:7.502em;"><span class="stl_10 stl_08 stl_34">受到行政处罚的，亦由乙方承担全部责任，乙方应在甲方要求的时限内向甲方做 &nbsp;</span></div>
					<div class="stl_01" style="top:13.5956em; left:7.502em;"><span class="stl_10 stl_08 stl_35">出全部赔偿。广告发布期内，广告内容如需更换，乙方应再次遵守本条的规定并 &nbsp;</span></div>
					<div class="stl_01" style="top:15.4756em; left:7.502em;"><span class="stl_10 stl_08 stl_11">承担由此产生的全部费用。 &nbsp;</span></div>
					<div class="stl_01" style="top:17.3556em; left:7.502em;"><span class="stl_13 stl_08 stl_11">3</span></div>
					<div class="stl_01" style="top:17.3556em; left:8.002em;"><span class="stl_13 stl_08 stl_36">.3</span><span class="stl_10 stl_08 stl_36">广告的制作和安装 &nbsp;</span></div>
					<div class="stl_01" style="top:19.2381em; left:7.502em;"><span class="stl_10 stl_08 stl_35">经甲方审查通过后的广告内容，由乙方自行或交给第三方制作、安装后发布，全 &nbsp;</span></div>
					<div class="stl_01" style="top:21.1181em; left:7.502em;"><span class="stl_10 stl_08 stl_34">部费用由乙方自行承担。若因乙方的广告内容或制作、安装的物料等导致乙方与 &nbsp;</span></div>
					<div class="stl_01" style="top:22.9981em; left:7.502em;"><span class="stl_10 stl_08 stl_14">第三方产生任何纠纷，应由乙方自行解决，甲方无须承担任何责任。若该等纠纷 &nbsp;</span></div>
					<div class="stl_01" style="top:24.8781em; left:7.502em;"><span class="stl_10 stl_08 stl_14">足以威胁到甲方之合法权益，则甲方有权拒绝乙方发布广告或要求乙方撤下已发 &nbsp;</span></div>
					<div class="stl_01" style="top:26.7681em; left:7.502em;"><span class="stl_10 stl_08 stl_37">布的广告，直至该纠纷得到妥善解决，因此产生的一切后果及费用均由乙方承担， &nbsp;</span></div>
					<div class="stl_01" style="top:28.6481em; left:7.502em;"><span class="stl_10 stl_08 stl_11">且本协议项下广告发布的结束日期不做延迟。 &nbsp;</span></div>
					<div class="stl_01" style="top:30.5298em; left:7.502em;"><span class="stl_13 stl_08 stl_11">3</span></div>
					<div class="stl_01" style="top:30.5298em; left:8.002em;"><span class="stl_13 stl_08 stl_32">.4</span><span class="stl_10 stl_08 stl_32">广告的维护 &nbsp;</span></div>
					<div class="stl_01" style="top:32.4098em; left:7.502em;"><span class="stl_10 stl_08 stl_14">乙方在广告发布期内，负责对广告进行日常维护，包括广告的持续性、安全和外 &nbsp;</span></div>
					<div class="stl_01" style="top:34.2898em; left:7.502em;"><span class="stl_10 stl_08 stl_38">观的完整、清洁，并承担相应费用。未经甲方事先书面同意，乙方不得擅自安装、 &nbsp;</span></div>
					<div class="stl_01" style="top:36.1698em; left:7.502em;"><span class="stl_10 stl_08 stl_33">移动、拆卸、更换广告，也不得以任何形式将广告发布位置转租、转让、与第三 &nbsp;</span></div>
					<div class="stl_01" style="top:38.0498em; left:7.502em;"><span class="stl_10 stl_08 stl_33">方交换或共同使用，否则由此产生的一切责任与后果均由乙方承担（包括但不限 &nbsp;</span></div>
					<div class="stl_01" style="top:39.9298em; left:7.502em;"><span class="stl_10 stl_08 stl_11">于广告发布位置的损坏、人员伤亡及其他一切损失的赔偿）。 &nbsp;</span></div>
					<div class="stl_01" style="top:41.8098em; left:7.502em;"><span class="stl_13 stl_08 stl_11">3</span></div>
					<div class="stl_01" style="top:41.8098em; left:8.002em;"><span class="stl_13 stl_08 stl_39">.5</span><span class="stl_10 stl_08 stl_39">保险 &nbsp;</span></div>
					<div class="stl_01" style="top:43.6923em; left:7.502em;"><span class="stl_10 stl_08 stl_14">乙方应就履行本协议及时购买相关的保险，并确保保单在本协议有效期内持续有 &nbsp;</span></div>
					<div class="stl_01" style="top:45.5723em; left:7.502em;"><span class="stl_10 stl_08 stl_33">效，由此产生的一切费用由乙方承担。若因乙方未及时购买相应保险或投保金额 &nbsp;</span></div>
					<div class="stl_01" style="top:47.4523em; left:7.502em;"><span class="stl_10 stl_08 stl_19">不足以弥补所产生的损失，一切后果及责任均由乙方承担。如给甲方及</span><span class="stl_13 stl_08 stl_19">/</span><span class="stl_10 stl_08 stl_19">或第三 &nbsp;</span></div>
					<div class="stl_01" style="top:49.3323em; left:7.502em;"><span class="stl_10 stl_08 stl_11">人造成人身、财产损失的，由乙方承担全部责任。 &nbsp;</span></div>
					<div class="stl_01" style="top:53.0923em; left:7.502em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.2497em;">第四条 广告发布位置的返还 &nbsp;</span></div>
					<div class="stl_01" style="top:54.9723em; left:7.502em;"><span class="stl_10 stl_08 stl_40">乙方应于广告发布期限届满次日或本协议提前终止之日的次日（取适用）上午八 &nbsp;</span></div>
					<div class="stl_01" style="top:56.854em; left:7.502em;"><span class="stl_10 stl_08 stl_33">点前拆除所发布的广告，并保持广告发布位置的干净整洁以及恢复原样，逾期甲 &nbsp;</span></div>
					<div class="stl_01" style="top:58.734em; left:7.502em;"><span class="stl_10 stl_08 stl_41">方有权切断广告发布位置电的供应（如有）、向乙方收取广告发布位置的占用费。 &nbsp;</span></div>
					<div class="stl_01" style="top:60.614em; left:7.502em;"><span class="stl_10 stl_08 stl_12">占用期间，每日的占用费为本协议项下每日广告服务费的</span><span class="stl_13 stl_08 stl_12">2</span><span class="stl_10 stl_08 stl_12">倍。同时，甲方有权 &nbsp;</span></div>
					<div class="stl_01" style="top:62.494em; left:7.502em;"><span class="stl_10 stl_08 stl_33">不经催告而自行将乙方发布的广告拆除，并将广告发布位置恢复原状，由此产生 &nbsp;</span></div>
					<div class="stl_01" style="top:64.245em; left:24.6142em;"><span class="stl_22 stl_23 stl_11">3</span></div>
				</div>
			</div>
		</div>
		<div class="stl_02">
			<div class="view">
				<div class="stl_05 stl_06">
					<div class="stl_01" style="top:6.0756em; left:7.502em;"><span class="stl_10 stl_08 stl_42">的全部费用（包括甲方因此而遭受损失之赔偿）及后果由乙方承担。甲方对因此 &nbsp;</span></div>
					<div class="stl_01" style="top:7.9556em; left:7.502em;"><span class="stl_10 stl_08 stl_11">而引起的乙方损失不承担责任。 &nbsp;</span></div>
					<div class="stl_01" style="top:11.7156em; left:7.502em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.2497em;">第五条 违约责任 &nbsp;</span></div>
					<div class="stl_01" style="top:13.5956em; left:7.502em;"><span class="stl_13 stl_08 stl_11">5</span></div>
					<div class="stl_01" style="top:13.5956em; left:8.002em;"><span class="stl_13 stl_08 stl_20">.1</span><span class="stl_10 stl_08 stl_20">本协议签署后，乙方不得以任何理由拖延支付本协议项下广告服务费及其他 &nbsp;</span></div>
					<div class="stl_01" style="top:15.4756em; left:9.2517em;"><span class="stl_10 stl_08 stl_25">任何费用。若乙方未按时支付本协议项下的任何费用，在不影响甲方行使其 &nbsp;</span></div>
					<div class="stl_01" style="top:17.3556em; left:9.2517em;"><span class="stl_10 stl_08 stl_43">他权利的前提下，每逾期一日，乙方应按逾期支付费用（含税）的千分之五 &nbsp;</span></div>
					<div class="stl_01" style="top:19.2381em; left:9.2517em;"><span class="stl_10 stl_08 stl_11">（</span></div>
					<div class="stl_01" style="top:19.2381em; left:10.2517em;"><span class="stl_13 stl_08 stl_11">0.5</span><span class="stl_10 stl_08 stl_11">％）向甲方支付滞纳金，直至乙方付清所有欠款为止。 &nbsp;</span></div>
					<div class="stl_01" style="top:21.1181em; left:7.502em;"><span class="stl_13 stl_08 stl_11">5</span></div>
					<div class="stl_01" style="top:24.8781em; left:7.502em;"><span class="stl_13 stl_08 stl_11">5</span></div>
					<div class="stl_01" style="top:21.1181em; left:8.002em;"><span class="stl_13 stl_08 stl_11" style="word-spacing:0.2497em;">.2 </span><span class="stl_10 stl_08 stl_11" style="word-spacing:0.2497em;">如因乙方原因导致广告未按时发布的，广告发布的结束日期不做延迟，且 &nbsp;</span></div>
					<div class="stl_01" style="top:22.9981em; left:9.2517em;"><span class="stl_10 stl_08 stl_11">乙方广告未发布期间的广告服务费不得被减免。 &nbsp;</span></div>
					<div class="stl_01" style="top:24.8781em; left:8.002em;"><span class="stl_13 stl_08 stl_44">.3</span><span class="stl_10 stl_08 stl_44">乙方同意：切断广告发布位置电的供应（如有）是甲方可以采取的用以敦促 &nbsp;</span></div>
					<div class="stl_01" style="top:26.7681em; left:9.2517em;"><span class="stl_10 stl_08 stl_25">乙方即时履约的强制措施，乙方免除甲方采取该等强制措施期间给乙方造成 &nbsp;</span></div>
					<div class="stl_01" style="top:28.6481em; left:9.2517em;"><span class="stl_10 stl_08 stl_18">的财产及经营损失之赔偿或补偿责任，并不得因此减免广告服务费等费用。 &nbsp;</span></div>
					<div class="stl_01" style="top:32.4098em; left:7.502em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.2497em;">第六条 终止和解除 &nbsp;</span></div>
					<div class="stl_01" style="top:34.2898em; left:7.502em;"><span class="stl_13 stl_08 stl_11">6</span></div>
					<div class="stl_01" style="top:34.2898em; left:8.002em;"><span class="stl_13 stl_08 stl_20">.1</span><span class="stl_10 stl_08 stl_20">如甲方因特殊原因（包括但不限于遇到商场重大活动等），在广告发布期内 &nbsp;</span></div>
					<div class="stl_01" style="top:36.1698em; left:9.2517em;"><span class="stl_10 stl_08 stl_45">需要乙方提前撤除发布的广告，应提前书面通知乙方，乙方承诺无条件配合。 &nbsp;</span></div>
					<div class="stl_01" style="top:38.0498em; left:9.2517em;"><span class="stl_10 stl_08 stl_11">甲方可选择向乙方提供与受影响期限同等的发布时间来弥补乙方广告未能 &nbsp;</span></div>
					<div class="stl_01" style="top:39.9298em; left:9.2517em;"><span class="stl_10 stl_08 stl_25">发布的时间；或选择经乙方同意后，由乙方将广告迁移到其他广告发布位置 &nbsp;</span></div>
					<div class="stl_01" style="top:41.8098em; left:9.2517em;"><span class="stl_10 stl_08 stl_25">继续发布，具体事宜由双方另行签署书面协议予以约定；或选择提前终止本 &nbsp;</span></div>
					<div class="stl_01" style="top:43.6923em; left:9.2517em;"><span class="stl_10 stl_08 stl_25">协议，将乙方广告未能发布期间的广告服务费退还乙方。此外，甲方无需承 &nbsp;</span></div>
					<div class="stl_01" style="top:45.5723em; left:9.2517em;"><span class="stl_10 stl_08 stl_11">担其它任何责任。 &nbsp;</span></div>
					<div class="stl_01" style="top:47.4523em; left:7.502em;"><span class="stl_13 stl_08 stl_11">6</span></div>
					<div class="stl_01" style="top:47.4523em; left:8.002em;"><span class="stl_13 stl_08 stl_20">.2</span><span class="stl_10 stl_08 stl_20">因国家或政府相关部门的法律规定、条例、规划变更，或因政府相关部门的 &nbsp;</span></div>
					<div class="stl_01" style="top:49.3323em; left:9.2517em;"><span class="stl_10 stl_08 stl_15">要求等任何其他外来因素导致广告发布位置不能使用及</span><span class="stl_13 stl_08 stl_15">/</span><span class="stl_10 stl_08 stl_15">或广告必须撤除的， &nbsp;</span></div>
					<div class="stl_01" style="top:51.2123em; left:9.2517em;"><span class="stl_10 stl_08 stl_43">乙方应无条件执行，甲方应将乙方广告未能发布期间的广告服务费退还乙方， &nbsp;</span></div>
					<div class="stl_01" style="top:53.0923em; left:9.2517em;"><span class="stl_10 stl_08 stl_11">本协议即自行终止，甲方无需承担其它任何责任。 &nbsp;</span></div>
					<div class="stl_01" style="top:54.9723em; left:7.502em;"><span class="stl_13 stl_08 stl_11">6</span></div>
					<div class="stl_01" style="top:58.734em; left:7.502em;"><span class="stl_13 stl_08 stl_11">6</span></div>
					<div class="stl_01" style="top:54.9723em; left:8.002em;"><span class="stl_13 stl_08 stl_20">.3</span><span class="stl_10 stl_08 stl_20">若乙方同时租赁甲方商场内的商铺，当乙方违约导致甲方解除商铺租赁合同 &nbsp;</span></div>
					<div class="stl_01" style="top:56.854em; left:9.2517em;"><span class="stl_10 stl_08 stl_11">时，甲方有权同时解除本协议，并没收乙方已支付的保证金及任何费用。 &nbsp;</span></div>
					<div class="stl_01" style="top:58.734em; left:8.002em;"><span class="stl_13 stl_08 stl_20">.4</span><span class="stl_10 stl_08 stl_20">若乙方出现下列情形之一的，甲方有权单方面提前解除本协议，甲方发出书 &nbsp;</span></div>
					<div class="stl_01" style="top:60.614em; left:9.2517em;"><span class="stl_10 stl_08 stl_25">面通知之日即视为本协议解除日。乙方无权要求甲方退还乙方已支付的保证 &nbsp;</span></div>
					<div class="stl_01" style="top:62.494em; left:9.2517em;"><span class="stl_10 stl_08 stl_25">金及其他费用，并且乙方还需向甲方支付违约金。违约金金额为未履行完毕 &nbsp;</span></div>
					<div class="stl_01" style="top:64.245em; left:24.6142em;"><span class="stl_22 stl_23 stl_11">4</span></div>
				</div>
			</div>
		</div>
		<div class="stl_02">
			<div class="view">
				<div class="stl_05 stl_06">
					<div class="stl_01" style="top:6.0756em; left:9.2517em;"><span class="stl_10 stl_08 stl_46">的广告发布期内的广告服务费总额（含税）。若该违约金不足以弥补乙方违 &nbsp;</span></div>
					<div class="stl_01" style="top:7.9556em; left:9.2517em;"><span class="stl_10 stl_08 stl_11">约行为给甲方造成的全部损失，乙方应就甲方该等损失做出全部赔偿。 &nbsp;</span></div>
					<div class="stl_01" style="top:9.8356em; left:8.002em;"><span class="stl_13 stl_08 stl_47">.4.1</span><span class="stl_10 stl_08 stl_47">发布的广告违反法律法规、侵犯甲方和</span><span class="stl_13 stl_08 stl_47">/</span><span class="stl_10 stl_08 stl_47">或第三方合法权益的； &nbsp;</span></div>
					<div class="stl_01" style="top:11.7156em; left:8.002em;"><span class="stl_13 stl_08 stl_29">.4.2</span><span class="stl_10 stl_08 stl_29">发布的广告未获政府有关主管部门的审批通过，导致相关部门责令停止广 &nbsp;</span></div>
					<div class="stl_01" style="top:13.5956em; left:9.2517em;"><span class="stl_10 stl_08 stl_11">告发布的； &nbsp;</span></div>
					<div class="stl_01" style="top:9.8356em; left:7.502em;"><span class="stl_13 stl_08 stl_11">6</span></div>
					<div class="stl_01" style="top:11.7156em; left:7.502em;"><span class="stl_13 stl_08 stl_11">6</span></div>
					<div class="stl_01" style="top:15.4756em; left:7.502em;"><span class="stl_13 stl_08 stl_11">6</span></div>
					<div class="stl_01" style="top:17.3556em; left:7.502em;"><span class="stl_13 stl_08 stl_11">6</span></div>
					<div class="stl_01" style="top:15.4756em; left:8.002em;"><span class="stl_13 stl_08 stl_15">.4.3</span><span class="stl_10 stl_08 stl_15">发布的广告造成不良社会影响，且乙方拒不整改的； &nbsp;</span></div>
					<div class="stl_01" style="top:17.3556em; left:8.002em;"><span class="stl_13 stl_08 stl_29">.4.4</span><span class="stl_10 stl_08 stl_29">逾期支付广告服务费、电费或其他本协议约定的任何一笔费用或不足额支 &nbsp;</span></div>
					<div class="stl_01" style="top:19.2381em; left:9.2517em;"><span class="stl_10 stl_08 stl_11">付，累计超过五个工作日的； &nbsp;</span></div>
					<div class="stl_01" style="top:21.1181em; left:7.502em;"><span class="stl_13 stl_08 stl_11">6</span></div>
					<div class="stl_01" style="top:22.9981em; left:7.502em;"><span class="stl_13 stl_08 stl_11">6</span></div>
					<div class="stl_01" style="top:21.1181em; left:8.002em;"><span class="stl_13 stl_08 stl_48">.4.5</span><span class="stl_10 stl_08 stl_48">广告未按时发布，逾期超过</span><span class="stl_13 stl_08 stl_48">7</span><span class="stl_10 stl_08 stl_48">日的； &nbsp;</span></div>
					<div class="stl_01" style="top:22.9981em; left:8.002em;"><span class="stl_13 stl_08 stl_49">.4.6</span><span class="stl_10 stl_08 stl_49">擅自安装、移动、拆卸、更换广告，或将广告发布位置转租、转让、与第 &nbsp;</span></div>
					<div class="stl_01" style="top:24.8781em; left:9.2517em;"><span class="stl_10 stl_08 stl_11">三方交换或共同使用的； &nbsp;</span></div>
					<div class="stl_01" style="top:26.7681em; left:7.502em;"><span class="stl_13 stl_08 stl_11">6</span></div>
					<div class="stl_01" style="top:28.6481em; left:7.502em;"><span class="stl_13 stl_08 stl_11">6</span></div>
					<div class="stl_01" style="top:30.5298em; left:7.502em;"><span class="stl_13 stl_08 stl_11">6</span></div>
					<div class="stl_01" style="top:26.7681em; left:8.002em;"><span class="stl_13 stl_08 stl_47">.4.7</span><span class="stl_10 stl_08 stl_47">违反本协议其他条款，经过甲方书面催告后</span><span class="stl_13 stl_08 stl_47">7</span><span class="stl_10 stl_08 stl_47">日内仍未纠正的； &nbsp;</span></div>
					<div class="stl_01" style="top:28.6481em; left:8.002em;"><span class="stl_13 stl_08 stl_50">.4.8</span><span class="stl_10 stl_08 stl_50">法律规定或本协议约定的其他情形。 &nbsp;</span></div>
					<div class="stl_01" style="top:30.5298em; left:8.002em;"><span class="stl_13 stl_08 stl_20">.5</span><span class="stl_10 stl_08 stl_20">乙方在本协议项下广告发布期限届满前擅自解除本协议的，乙方无权要求甲 &nbsp;</span></div>
					<div class="stl_01" style="top:32.4098em; left:9.2517em;"><span class="stl_10 stl_08 stl_18">方退还乙方已支付的保证金及其他费用，并且乙方还需向甲方支付违约金。 &nbsp;</span></div>
					<div class="stl_01" style="top:34.2898em; left:9.2517em;"><span class="stl_10 stl_08 stl_25">违约金金额为未履行完毕的广告发布期内的广告服务费总额（含税）。若该 &nbsp;</span></div>
					<div class="stl_01" style="top:36.1698em; left:9.2517em;"><span class="stl_10 stl_08 stl_25">违约金不足以弥补因此给甲方造成的全部损失，乙方应就甲方该等损失做出 &nbsp;</span></div>
					<div class="stl_01" style="top:38.0498em; left:9.2517em;"><span class="stl_10 stl_08 stl_11">全部赔偿。 &nbsp;</span></div>
					<div class="stl_01" style="top:41.8098em; left:7.502em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.2497em;">第七条 其他 &nbsp;</span></div>
					<div class="stl_01" style="top:43.6923em; left:7.502em;"><span class="stl_13 stl_08 stl_11">7</span></div>
					<div class="stl_01" style="top:47.4523em; left:7.502em;"><span class="stl_13 stl_08 stl_11">7</span></div>
					<div class="stl_01" style="top:51.2123em; left:7.502em;"><span class="stl_13 stl_08 stl_11">7</span></div>
					<div class="stl_01" style="top:43.6923em; left:8.002em;"><span class="stl_13 stl_08 stl_51">.1</span><span class="stl_10 stl_08 stl_51">本协议适用中国法律。与本协议有关的争议</span><span class="stl_13 stl_08 stl_51">,</span><span class="stl_10 stl_08 stl_51">双方应协商解决</span><span class="stl_13 stl_08 stl_51">,</span><span class="stl_10 stl_08 stl_51">若协商不成， &nbsp;</span></div>
					<div class="stl_01" style="top:45.5723em; left:9.2517em;"><span class="stl_10 stl_08 stl_11">应向甲方所在地人民法院起诉。 &nbsp;</span></div>
					<div class="stl_01" style="top:47.4523em; left:8.002em;"><span class="stl_13 stl_08 stl_31">.2</span><span class="stl_10 stl_08 stl_31">本协议若有未尽事宜，经双方协商后以书面方式签订补充协议，补充协议与 &nbsp;</span></div>
					<div class="stl_01" style="top:49.3323em; left:9.2517em;"><span class="stl_10 stl_08 stl_11">本协议及其附件具有同等的法律效力。 &nbsp;</span></div>
					<div class="stl_01" style="top:51.2123em; left:8.002em;"><span class="stl_13 stl_08 stl_27">.3</span><span class="stl_10 stl_08 stl_27">本协议一式三份</span><span class="stl_13 stl_08 stl_27">,</span><span class="stl_10 stl_08 stl_27">自甲、乙双方签章之日起生效</span><span class="stl_13 stl_08 stl_27">,</span><span class="stl_10 stl_08 stl_27">甲方持正本两份，乙方持正 &nbsp;</span></div>
					<div class="stl_01" style="top:53.0923em; left:9.2517em;"><span class="stl_10 stl_08 stl_11">本一份，各份文本均具有同等法律效力。 &nbsp;</span></div>
					<div class="stl_01" style="top:64.245em; left:24.6142em;"><span class="stl_22 stl_23 stl_11">5</span></div>
				</div>
			</div>
		</div>
		<div class="stl_02">
			<div class="view">
				<div class="stl_05 stl_06">
					<div class="stl_01" style="top:7.9556em; left:7.502em;"><span class="stl_10 stl_08 stl_11">（</span></div>
					<div class="stl_01" style="top:7.9556em; left:8.502em;"><span class="stl_10 stl_08 stl_11">以下供签署） &nbsp;</span></div>
					<div class="stl_01" style="top:17.3556em; left:7.502em;"><span class="stl_10 stl_08 stl_11">甲方</span><span class="stl_13 stl_08 stl_11">:</span><span class="stl_10 stl_08 stl_11">上海帝泰发展有限公司 &nbsp;</span></div>
					<div class="stl_01" style="top:19.2381em; left:8.5017em;"><span class="stl_10 stl_08 stl_52">公章</span><span class="stl_13 stl_08 stl_52">/</span><span class="stl_10 stl_08 stl_52">合同专用章</span><span class="stl_13 stl_08 stl_52">) &nbsp;</span></div>
					<div class="stl_01" style="top:17.3556em; left:29.2558em;"><span class="stl_10 stl_08 stl_11">乙方</span><span class="stl_13 stl_08 stl_11">: &nbsp;</span></div>
					<div class="stl_01" style="top:19.2381em; left:8.002em;"><span class="stl_13 stl_08 stl_11">(</span></div>
					<div class="stl_01" style="top:19.2381em; left:29.5058em;"><span class="stl_13 stl_08 stl_52">(</span><span class="stl_10 stl_08 stl_52">公章</span><span class="stl_13 stl_08 stl_52">/</span><span class="stl_10 stl_08 stl_52">合同专用章</span><span class="stl_13 stl_08 stl_52">) &nbsp;</span></div>
					<div class="stl_01" style="top:21.1181em; left:7.502em;"><span class="stl_10 stl_08 stl_53">注册地址：中国（上海）自由贸易试验区陆家嘴西路</span><span class="stl_13 stl_08 stl_53">168</span><span class="stl_10 stl_08 stl_53">号注册地址： &nbsp;</span></div>
					<div class="stl_01" style="top:22.9981em; left:7.502em;"><span class="stl_10 stl_08 stl_11">电话：</span><span class="stl_13 stl_08 stl_11">021-68877888 &nbsp;</span></div>
					<div class="stl_01" style="top:22.9981em; left:29.5058em;"><span class="stl_10 stl_08 stl_11">电话： &nbsp;</span></div>
					<div class="stl_01" style="top:24.8781em; left:7.502em;"><span class="stl_10 stl_08 stl_11">开户银行：交行虹口支行 &nbsp;</span></div>
					<div class="stl_01" style="top:24.8781em; left:29.5058em;"><span class="stl_10 stl_08 stl_11">开户银行： &nbsp;</span></div>
					<div class="stl_01" style="top:26.7681em; left:7.502em;"><span class="stl_10 stl_08 stl_11">账号：</span><span class="stl_13 stl_08 stl_11">310066030018170043300 &nbsp;</span></div>
					<div class="stl_01" style="top:28.6481em; left:7.502em;"><span class="stl_10 stl_08 stl_11">纳税人识别号：</span><span class="stl_13 stl_08 stl_11">91310000607304334G &nbsp;</span></div>
					<div class="stl_01" style="top:30.5298em; left:7.502em;"><span class="stl_10 stl_08 stl_19">法定代表人</span><span class="stl_13 stl_08 stl_19">/</span><span class="stl_10 stl_08 stl_19">授权代表签字</span><span class="stl_13 stl_08 stl_19">: &nbsp;</span></div>
					<div class="stl_01" style="top:26.7681em; left:29.5058em;"><span class="stl_10 stl_08 stl_11">账号： &nbsp;</span></div>
					<div class="stl_01" style="top:28.6481em; left:29.5058em;"><span class="stl_10 stl_08 stl_11">纳税人识别号： &nbsp;</span></div>
					<div class="stl_01" style="top:30.5298em; left:29.2558em;"><span class="stl_10 stl_08 stl_19">法定代表人</span><span class="stl_13 stl_08 stl_19">/</span><span class="stl_10 stl_08 stl_19">授权代表签字</span><span class="stl_13 stl_08 stl_19">: &nbsp;</span></div>
					<div class="stl_01" style="top:32.4098em; left:7.502em;"><span class="stl_10 stl_08 stl_54">签署日期</span><span class="stl_13 stl_08 stl_54">: &nbsp;</span></div>
					<div class="stl_01" style="top:32.4098em; left:14.0017em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.7525em;">年 月 &nbsp;</span></div>
					<div class="stl_01" style="top:32.4098em; left:18.5042em;"><span class="stl_10 stl_08 stl_11">日</span></div>
					<div class="stl_01" style="top:32.4098em; left:29.5058em;"><span class="stl_10 stl_08 stl_11">签署日期</span><span class="stl_13 stl_08 stl_11">: &nbsp;</span></div>
					<div class="stl_01" style="top:32.4098em; left:36.0058em;"><span class="stl_10 stl_08 stl_11" style="word-spacing:0.7513em;">年 月 日 &nbsp;</span></div>
					<div class="stl_01" style="top:64.245em; left:24.6142em;"><span class="stl_22 stl_23 stl_11">6</span></div>
				</div>
			</div>
		</div>
		<div class="stl_02">
			<div class="view">
				<div class="stl_05 stl_06">
					<div class="stl_01" style="top:6.0756em; left:7.502em;"><span class="stl_10 stl_08 stl_55">附件一：广告位置平面图 &nbsp;</span></div>
					<div class="stl_01" style="top:64.245em; left:24.6142em;"><span class="stl_22 stl_23 stl_11">7</span></div>
				</div>
			</div>
		</div>
	</body>
</html>