sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 70.16666em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 49.58333em;
}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.016666em;
}
.ie .stl_06 {
	height: 70.16666em;
}
.stl_07 {
	transform: scale(1,0.9803922);
	-o-transform: scale(1,0.9803922);
	-ms-transform: matrix(1,0,0,0.9803922,0,-1.512);
	-moz-transform: scale(1,0.9803922);
	-webkit-transform: scale(1,0.9803922);
}
@font-face {
	font-family:"UEAAIF+SimSun";
	src:url("bd385dfe-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_08 {
	font-size: 1.26em;
	font-family: "UEAAIF+SimSun";
	color: #000000;
}
.stl_09 {
	line-height: 1em;
}
.stl_10 {
	letter-spacing: -0.0033em;
}

.ie .stl_10 {
	letter-spacing: -0.0672px;
}
.stl_11 {
	font-size: 0.92em;
	font-family: "UEAAIF+SimSun";
	color: #000000;
}
.stl_12 {
	letter-spacing: 0em;
}

.ie .stl_12 {
	letter-spacing: 0px;
}
.stl_13 {
	letter-spacing: -0.0038em;
}

.ie .stl_13 {
	letter-spacing: -0.0562px;
}
.stl_14 {
	letter-spacing: -0.0016em;
}

.ie .stl_14 {
	letter-spacing: -0.0229px;
}
.stl_15 {
	letter-spacing: -0.0026em;
}

.ie .stl_15 {
	letter-spacing: -0.0376px;
}
.stl_16 {
	letter-spacing: -0.0031em;
}

.ie .stl_16 {
	letter-spacing: -0.0453px;
}
.stl_17 {
	letter-spacing: -0.0035em;
}

.ie .stl_17 {
	letter-spacing: -0.0515px;
}
.stl_18 {
	letter-spacing: -0.0018em;
}

.ie .stl_18 {
	letter-spacing: -0.0267px;
}
.stl_19 {
	letter-spacing: -0.0129em;
}

.ie .stl_19 {
	letter-spacing: -0.1899px;
}
.stl_20 {
	letter-spacing: -0.003em;
}

.ie .stl_20 {
	letter-spacing: -0.0442px;
}
.stl_21 {
	letter-spacing: -0.0127em;
}

.ie .stl_21 {
	letter-spacing: -0.1874px;
}
.stl_22 {
	letter-spacing: -0.0036em;
}

.ie .stl_22 {
	letter-spacing: -0.0526px;
}
.stl_23 {
	letter-spacing: -0.0124em;
}

.ie .stl_23 {
	letter-spacing: -0.1823px;
}
.stl_24 {
	letter-spacing: -0.0225em;
}

.ie .stl_24 {
	letter-spacing: -0.3312px;
}
.stl_25 {
	letter-spacing: -0.0142em;
}

.ie .stl_25 {
	letter-spacing: -0.2092px;
}
@font-face {
	font-family:"AKDMIQ+SimSun";
	src:url("0af75468-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_26 {
	font-size: 0.92em;
	font-family: "AKDMIQ+SimSun", "Times New Roman";
	color: #000000;
}
.stl_27 {
	letter-spacing: -0.0034em;
}

.ie .stl_27 {
	letter-spacing: -0.0503px;
}
.stl_28 {
	letter-spacing: -0.0014em;
}

.ie .stl_28 {
	letter-spacing: -0.0213px;
}
.stl_29 {
	letter-spacing: -0.0203em;
}

.ie .stl_29 {
	letter-spacing: -0.2987px;
}
.stl_30 {
	letter-spacing: -0.0028em;
}

.ie .stl_30 {
	letter-spacing: -0.0413px;
}
.stl_31 {
	letter-spacing: -0.0023em;
}

.ie .stl_31 {
	letter-spacing: -0.0343px;
}
.stl_32 {
	letter-spacing: -0.0226em;
}

.ie .stl_32 {
	letter-spacing: -0.3331px;
}
.stl_33 {
	letter-spacing: -0.006em;
}

.ie .stl_33 {
	letter-spacing: -0.0883px;
}
.stl_34 {
	letter-spacing: -0.0128em;
}

.ie .stl_34 {
	letter-spacing: -0.1885px;
}
.stl_35 {
	letter-spacing: -0.0032em;
}

.ie .stl_35 {
	letter-spacing: -0.0476px;
}
.stl_36 {
	letter-spacing: -0.0019em;
}

.ie .stl_36 {
	letter-spacing: -0.0281px;
}
.stl_37 {
	letter-spacing: -0.0105em;
}

.ie .stl_37 {
	letter-spacing: -0.1546px;
}
.stl_38 {
	letter-spacing: -0.0054em;
}

.ie .stl_38 {
	letter-spacing: -0.08px;
}
@font-face {
	font-family:"UMNSPG+Calibri";
	src:url("59225f0a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_39 {
	font-size: 0.76em;
	font-family: "UMNSPG+Calibri";
	color: #000000;
}
.stl_40 {
	line-height: 1.041992em;
}
.stl_41 {
	transform: scale(1,0.9803922);
	-o-transform: scale(1,0.9803922);
	-ms-transform: matrix(1,0,0,0.9803922,0,-1.104);
	-moz-transform: scale(1,0.9803922);
	-webkit-transform: scale(1,0.9803922);
}
.stl_42 {
	letter-spacing: 0.0904em;
}

.ie .stl_42 {
	letter-spacing: 1.3305px;
}
.stl_43 {
	letter-spacing: -0.0187em;
}

.ie .stl_43 {
	letter-spacing: -0.276px;
}
.stl_44 {
	letter-spacing: 0.0019em;
}

.ie .stl_44 {
	letter-spacing: 0.0281px;
}
.stl_45 {
	letter-spacing: -0.0201em;
}

.ie .stl_45 {
	letter-spacing: -0.2964px;
}
.stl_46 {
	letter-spacing: -0.0183em;
}

.ie .stl_46 {
	letter-spacing: -0.2696px;
}
.stl_47 {
	letter-spacing: 0.0663em;
}

.ie .stl_47 {
	letter-spacing: 0.9756px;
}
.stl_48 {
	letter-spacing: 0.087em;
}

.ie .stl_48 {
	letter-spacing: 1.2806px;
}
.stl_49 {
	letter-spacing: 0.0779em;
}

.ie .stl_49 {
	letter-spacing: 1.146px;
}
.stl_50 {
	letter-spacing: 0.081em;
}

.ie .stl_50 {
	letter-spacing: 1.1922px;
}
.stl_51 {
	letter-spacing: 0.072em;
}

.ie .stl_51 {
	letter-spacing: 1.0593px;
}
.stl_52 {
	letter-spacing: 0.1em;
}

.ie .stl_52 {
	letter-spacing: 1.4726px;
}
.stl_53 {
	letter-spacing: 0.0999em;
}

.ie .stl_53 {
	letter-spacing: 1.471px;
}
.stl_54 {
	letter-spacing: 0.0854em;
}

.ie .stl_54 {
	letter-spacing: 1.2577px;
}
.stl_55 {
	letter-spacing: 0.0653em;
}

.ie .stl_55 {
	letter-spacing: 0.9617px;
}
.stl_56 {
	letter-spacing: 0.084em;
}

.ie .stl_56 {
	letter-spacing: 1.2365px;
}
.stl_57 {
	letter-spacing: 0.0985em;
}

.ie .stl_57 {
	letter-spacing: 1.4503px;
}
.stl_58 {
	letter-spacing: 0.0943em;
}

.ie .stl_58 {
	letter-spacing: 1.3886px;
}
.stl_59 {
	letter-spacing: 0.073em;
}

.ie .stl_59 {
	letter-spacing: 1.0752px;
}
@font-face {
	font-family:"IRTMOW+SimSun";
	src:url("470ab1eb-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_60 {
	font-size: 0.92em;
	font-family: "IRTMOW+SimSun", "Times New Roman";
	color: #000000;
}
.stl_61 {
	letter-spacing: 0.0977em;
}

.ie .stl_61 {
	letter-spacing: 1.4381px;
}
.stl_62 {
	letter-spacing: 0.0978em;
}

.ie .stl_62 {
	letter-spacing: 1.4394px;
}
.stl_63 {
	letter-spacing: 0.0987em;
}

.ie .stl_63 {
	letter-spacing: 1.4523px;
}
.stl_64 {
	letter-spacing: 0.0813em;
}

.ie .stl_64 {
	letter-spacing: 1.1964px;
}
.stl_65 {
	letter-spacing: 0.0925em;
}

.ie .stl_65 {
	letter-spacing: 1.3616px;
}
.stl_66 {
	letter-spacing: 0.0858em;
}

.ie .stl_66 {
	letter-spacing: 1.2623px;
}
.stl_67 {
	letter-spacing: 0.0725em;
}

.ie .stl_67 {
	letter-spacing: 1.067px;
}
.stl_68 {
	letter-spacing: 0.0028em;
}

.ie .stl_68 {
	letter-spacing: 0.0417px;
}
.stl_69 {
	letter-spacing: -0.0301em;
}

.ie .stl_69 {
	letter-spacing: -0.4432px;
}
.stl_70 {
	letter-spacing: -0.0213em;
}

.ie .stl_70 {
	letter-spacing: -0.3129px;
}
.stl_71 {
	letter-spacing: 0.0004em;
}

.ie .stl_71 {
	letter-spacing: 0.0063px;
}
.stl_72 {
	letter-spacing: -0.0217em;
}

.ie .stl_72 {
	letter-spacing: -0.3194px;
}
.stl_73 {
	letter-spacing: -0.015em;
}

.ie .stl_73 {
	letter-spacing: -0.2215px;
}
.stl_74 {
	letter-spacing: -0.0207em;
}

.ie .stl_74 {
	letter-spacing: -0.3051px;
}
.stl_75 {
	letter-spacing: -0.0294em;
}

.ie .stl_75 {
	letter-spacing: -0.4324px;
}
.stl_76 {
	letter-spacing: 0.0958em;
}

.ie .stl_76 {
	letter-spacing: 1.4102px;
}
.stl_77 {
	letter-spacing: 0.0731em;
}

.ie .stl_77 {
	letter-spacing: 1.0755px;
}
.stl_78 {
	letter-spacing: 0.0848em;
}

.ie .stl_78 {
	letter-spacing: 1.2484px;
}
.stl_79 {
	letter-spacing: -0.0208em;
}

.ie .stl_79 {
	letter-spacing: -0.3058px;
}
.stl_80 {
	letter-spacing: -0.0027em;
}

.ie .stl_80 {
	letter-spacing: -0.04px;
}
.stl_81 {
	letter-spacing: 0.0844em;
}

.ie .stl_81 {
	letter-spacing: 1.2422px;
}
.stl_82 {
	letter-spacing: 0.0833em;
}

.ie .stl_82 {
	letter-spacing: 1.2268px;
}
.stl_83 {
	letter-spacing: 0.0847em;
}

.ie .stl_83 {
	letter-spacing: 1.2468px;
}
.stl_84 {
	letter-spacing: 0.0732em;
}

.ie .stl_84 {
	letter-spacing: 1.0774px;
}
.stl_85 {
	letter-spacing: 0.0993em;
}

.ie .stl_85 {
	letter-spacing: 1.4616px;
}
.stl_86 {
	letter-spacing: 0.0838em;
}

.ie .stl_86 {
	letter-spacing: 1.2338px;
}
.stl_87 {
	letter-spacing: 0.0811em;
}

.ie .stl_87 {
	letter-spacing: 1.1933px;
}
.stl_88 {
	letter-spacing: 0.0979em;
}

.ie .stl_88 {
	letter-spacing: 1.441px;
}
.stl_89 {
	letter-spacing: 0.0037em;
}

.ie .stl_89 {
	letter-spacing: 0.0546px;
}
.stl_90 {
	letter-spacing: -0.0029em;
}

.ie .stl_90 {
	letter-spacing: -0.0429px;
}
.stl_91 {
	letter-spacing: 0.0047em;
}

.ie .stl_91 {
	letter-spacing: 0.0686px;
}
.stl_92 {
	letter-spacing: 0.082em;
}

.ie .stl_92 {
	letter-spacing: 1.2073px;
}
.stl_93 {
	letter-spacing: 0.0829em;
}

.ie .stl_93 {
	letter-spacing: 1.2206px;
}
.stl_94 {
	letter-spacing: 0.0834em;
}

.ie .stl_94 {
	letter-spacing: 1.2271px;
}
.stl_95 {
	letter-spacing: 0.0835em;
}

.ie .stl_95 {
	letter-spacing: 1.2286px;
}
.stl_96 {
	letter-spacing: 0.0153em;
}

.ie .stl_96 {
	letter-spacing: 0.2249px;
}
.stl_97 {
	letter-spacing: -0.0025em;
}

.ie .stl_97 {
	letter-spacing: -0.0371px;
}
.stl_98 {
	letter-spacing: 0.0106em;
}

.ie .stl_98 {
	letter-spacing: 0.1566px;
}
.stl_99 {
	letter-spacing: -0.0151em;
}

.ie .stl_99 {
	letter-spacing: -0.222px;
}
.stl_100 {
	letter-spacing: 0.0135em;
}

.ie .stl_100 {
	letter-spacing: 0.1994px;
}
.stl_101 {
	letter-spacing: 0.0818em;
}

.ie .stl_101 {
	letter-spacing: 1.2044px;
}
.stl_102 {
	letter-spacing: 0.0968em;
}

.ie .stl_102 {
	letter-spacing: 1.4242px;
}
.stl_103 {
	letter-spacing: 0.0976em;
}

.ie .stl_103 {
	letter-spacing: 1.4361px;
}
.stl_104 {
	letter-spacing: 0.0859em;
}

.ie .stl_104 {
	letter-spacing: 1.264px;
}
.stl_105 {
	letter-spacing: 0.0965em;
}

.ie .stl_105 {
	letter-spacing: 1.4205px;
}
.stl_106 {
	letter-spacing: 0.0719em;
}

.ie .stl_106 {
	letter-spacing: 1.0582px;
}
.stl_107 {
	letter-spacing: 0.0746em;
}

.ie .stl_107 {
	letter-spacing: 1.0982px;
}
.stl_108 {
	letter-spacing: -0.0302em;
}

.ie .stl_108 {
	letter-spacing: -0.4452px;
}
.stl_109 {
	letter-spacing: -0.0196em;
}

.ie .stl_109 {
	letter-spacing: -0.2889px;
}
.stl_110 {
	letter-spacing: -0.0307em;
}

.ie .stl_110 {
	letter-spacing: -0.4522px;
}
.stl_111 {
	letter-spacing: -0.0191em;
}

.ie .stl_111 {
	letter-spacing: -0.2816px;
}
.stl_112 {
	letter-spacing: -0.0198em;
}

.ie .stl_112 {
	letter-spacing: -0.2922px;
}
.stl_113 {
	letter-spacing: -0.0304em;
}

.ie .stl_113 {
	letter-spacing: -0.4472px;
}
@font-face {
	font-family:"FMRFPG+SimSun";
	src:url("cd7670e9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_114 {
	font-size: 0.92em;
	font-family: "FMRFPG+SimSun", "Times New Roman";
	color: #000000;
}
.stl_115 {
	letter-spacing: 0.0769em;
}

.ie .stl_115 {
	letter-spacing: 1.1314px;
}
.stl_116 {
	letter-spacing: 0.0768em;
}

.ie .stl_116 {
	letter-spacing: 1.1312px;
}
.stl_117 {
	letter-spacing: 0.0942em;
}

.ie .stl_117 {
	letter-spacing: 1.3868px;
}
.stl_118 {
	letter-spacing: 0.0751em;
}

.ie .stl_118 {
	letter-spacing: 1.1055px;
}
.stl_119 {
	transform: scale(1,0.9803922);
	-o-transform: scale(1,0.9803922);
	-ms-transform: matrix(1,0,0,0.9803922,0,-1.4);
	-moz-transform: scale(1,0.9803922);
	-webkit-transform: scale(1,0.9803922);
}
.stl_120 {
	letter-spacing: -0.0125em;
}

.ie .stl_120 {
	letter-spacing: -0.1838px;
}
.stl_121 {
	letter-spacing: -0.0024em;
}

.ie .stl_121 {
	letter-spacing: -0.035px;
}
.stl_122 {
	letter-spacing: -0.0006em;
}

.ie .stl_122 {
	letter-spacing: -0.0081px;
}
.stl_123 {
	transform: scale(1,0.9803922);
	-o-transform: scale(1,0.9803922);
	-ms-transform: matrix(1,0,0,0.9803922,0,-1.7);
	-moz-transform: scale(1,0.9803922);
	-webkit-transform: scale(1,0.9803922);
}
.stl_124 {
	transform: scale(1,0.9803922);
	-o-transform: scale(1,0.9803922);
	-ms-transform: matrix(1,0,0,0.9803922,0,-1.6);
	-moz-transform: scale(1,0.9803922);
	-webkit-transform: scale(1,0.9803922);
}
.stl_125 {
	letter-spacing: 0.005em;
}

.ie .stl_125 {
	letter-spacing: 0.0732px;
}
.stl_126 {
	letter-spacing: -0.002em;
}

.ie .stl_126 {
	letter-spacing: -0.03px;
}
.stl_127 {
	letter-spacing: 0.0023em;
}

.ie .stl_127 {
	letter-spacing: 0.0345px;
}
.stl_128 {
	letter-spacing: -0.0344em;
}

.ie .stl_128 {
	letter-spacing: -0.5069px;
}
.stl_129 {
	letter-spacing: -0.0178em;
}

.ie .stl_129 {
	letter-spacing: -0.2619px;
}
.stl_130 {
	letter-spacing: -0.0133em;
}

.ie .stl_130 {
	letter-spacing: -0.1963px;
}
.stl_131 {
	letter-spacing: -0.0145em;
}

.ie .stl_131 {
	letter-spacing: -0.2138px;
}
.stl_132 {
	letter-spacing: -0.013em;
}

.ie .stl_132 {
	letter-spacing: -0.1907px;
}
.stl_133 {
	letter-spacing: -0.0134em;
}

.ie .stl_133 {
	letter-spacing: -0.1972px;
}
.stl_134 {
	letter-spacing: 0.0093em;
}

.ie .stl_134 {
	letter-spacing: 0.137px;
}
.stl_135 {
	letter-spacing: -0.0135em;
}

.ie .stl_135 {
	letter-spacing: -0.1989px;
}
.stl_136 {
	letter-spacing: -0.0166em;
}

.ie .stl_136 {
	letter-spacing: -0.2437px;
}
.stl_137 {
	letter-spacing: -0.0068em;
}

.ie .stl_137 {
	letter-spacing: -0.0831px;
}
